{%!
* Contextual Link Container
    * ----------------------------------------------------------------------------- *
    * CHANGE HISTORY
    * -----------------------------------------------------------------------------
    * Version | Date       | Developer              | Changes
    * 1.0     | 2016/01/10 | J. Alejandro Morataya  | Initial Creation
    * ----------------------------------------------------------------------------- *
    %}
<!--Begin Contextual Links-->
    <div class="row">
        <div class="col col-lg-12">
            <!--Begin Contextual Links -->
            <div class="contextual_links_component row">

                {%#each list.tiles%}
                    {%#include title as="MetlifeApp/components/section/contextual-link"%}{%/include%}
                {%/each%}

            </div>
        </div>
    </div>
<!--End Contextual Links -->