# Configuration created by Apache Sling JCR Installer
sso.logoutRedirect=["https://ssofed-qa.metlife.com/siteminderagent/forms/logoff.html::uat.author.metlife.com"]
sso.redirect="/siteadmin"
sso.cookieDomain="uat.author.metlife.com"
userAttributes=["FirstName\=profile/givenName","LastName\=profile/familyName","Email\=profile/email"]
idpUrls=["https://ssofed-qa.metlife.com/affwebservices/public/saml2sso?SPID\=https://uat.author.metlife.com::uat.author.metlife.com","/libs/granite/core/content/login.html::author-metlife-stage.adobecqms.net"]
sso.url="/sso"
userIDAttribute="Email"
sso.enabled=B"true"