<!-- Product Card W/ Image Begin -->

    <div class="row">
        <div class="col col-lg-12">
            <!--Begin Product Card Component-->
            <div class="product-card">
                <div class="title title-with-image" data-backgroundMobile-src="{%content.imagePath%}" data-backgroundDesktop-src="{%content.imagePath%}" title="Image">


                </div>
                <div class="content">
                    <div class="content-body">
                        <span class="hidden-xs intro">
                        {%content.imageProductCardIntro%}
                        </span>
                        {%{content.imageProductCardContent}%}
                    </div>

                </div>
                {%#if content.imageProductCardButtonLabel%}
                    <div class="action">
                    	<a class="btn-green" href="{%content.imageProductCardPath%}">
                    	{%content.imageProductCardButtonLabel%}</a>
                    </div>
               	{%/if%}
            </div>
            <!--End Product Card Component-->
        </div>
    </div>
<!-- Product Card W/ Image End -->