	<div class="row">
		<div class="col col-lg-12">
			<div class="related_links clearfix">
				<div class="container">
                {%#each content.relatedContent%}
					<!-- Media Card Basic Begin -->
					<div class="media-basic">
						<span class="media-tag">{% this.overlay_label %}</span>
						<a href="{% this.link %}">
							<img src="{% this.imagePath %}" data-src="{% this.imagePath %}" class="lazy-loaded" alt="{% this.alt %}">
                            <noscript><img src="{% this.imagePath %}" data-src="{% this.imagePath %}" alt="{% this.alt %}"></noscript>
						</a>
						<div class="media-content">
							<a href="{% this.link %}" class="title">{% this.title %}</a>
							<span class="description">{% this.description %}</span>
						</div>
					</div>
					<!-- Media Card Basic End -->
				{%/each%}
				</div>
			</div>
			<!-- Related Links Layout Begin -->
		</div>
	</div>