
<!-- Bread Crumb Begin -->
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <!-- Component Begin -->
            {%#include "bread-crumb" as="MetlifeApp/components/section/bread-crumb"%}{%/include%}
            <!-- Component End -->
        </div>
    </div>
</div>
<!-- Bread Crumb End -->

<!--Begin Page Title-->
<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <!--Begin Page Title Component-->
            <div class="page_title ">
                <h1>{%page.title%}</h1>

                <p>{%page.subtitle%}</p>
            </div>
            <!--End Page Title Component-->
        </div>
    </div>
</div>
<!-- End Page Title-->

{%#include "content-parsys" as="foundation/components/parsys"%}{%/include%}
