{%!
* ------------------------------------------------------------------------------ *
* Small Product Module Component
* ------------------------------------------------------------------------------ *
%}

<div class="product-module__small--product__wrapper">
    <a href="{% content.link %}"
       id="{%content.linkId%}Image"
       class="product-module__small__imagewrapper"
       target="{%content.target%}">
        {%#if content.imagePath %}
        <img src="{% content.imagePath %}"
             data-src="{% content.imagePath %}"
             class="product-module__small__img block"
             alt="{% content.altText %}"
             target="{%content.target%}">
        {%/if%}
    </a>
    <a href="{% content.link %}"
       id="{%content.linkId%}"
       class="product-module__action product-module__action--small"
       target="{%content.target%}">{% content.buttonText%}
    </a>
</div>