{%!
* ------------------------------------------------------------------------------ *
* Glossary Definitions Component
* ------------------------------------------------------------------------------ *
%}

{%#if content.letter%}
    <div class="glossary-group">
        <span class="block">{%content.letter%}</span>
        {%#each content.definitions%}
        <dl>
            <dt>{%title%}</dt>
            <dd>
                {%definition%}
            </dd>
        </dl>
        {%/each%}
    </div>
{%/if%}
