{%!
* Glossary Terms Component
* ----------------------------------------------------------------------------- *
* CHANGE HISTORY
* -----------------------------------------------------------------------------
* Version | Date       | Developer              | Changes
* 1.0     | 2016/07/19 | Sergio Torres          | Initial Creation
* ----------------------------------------------------------------------------- *
%}

<!-- Glossary Letter Group Begin -->


    {%#if content.letter%}
        <div class="glossary-group">
            <span class="block">{%content.letter%}</span>
            {%#each content.definitions%}
            <dl>
                <!-- Glossary Definition Begin-->
                <dt>{%title%}</dt>
                <dd>
                    {%definition%}
                </dd>
                <!-- Glossary Definition End -->
            </dl>
            {%/each%}
        </div>
    {%/if%}


<!-- Glossary Letter Group  End -->
