
<!-- Begin List-->
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <div class="text_container">
                <div class="container">
                    <!-- Begin List Component-->
                    <div class="list">
                        <div class="list_header" data-news-url="{% content.path %}.archive." data-news-query-parameter=".json" data-news-concatenator=".">
                            <div>
                                <label for="list_year">{% content.yearLabel %} </label>
                                <select id="list_year">
                                    {%#each content.childrenList %}
                                        <option value="{% this.name %}">{% this.jcrtitle %}</option>
                                    {%/each%}

                                </select>
                            </div>
                            <div>
                                <label for="list_month">{% content.monthLabel %}</label>
                                <select id="list_month">
                                    <option value="" selected>All</option>
                                    {%#each content.month %}
                                        <option value="{% this.key %}">{% this.value %}</option>
                                    {%/each%}

                                </select>
                            </div>
                            <div class="list_search_container">
                                <select id="search_topics" class="">
                                    <option value="" selected>All Topics</option>
                                    {%#each content.topicsPath %}
                                        <option value="{% this.name %}">{% this.title %}</option>
                                    {%/each%}
                                </select>
                            </div>

                        </div>
                        <h1>{% content.title %}</h1>
                        <div class="press_release_results_container results_content">

                        </div>
                        <div class="no-results hidden">                        <p>No results found.</p>
                            <p>Search Tips:</p>
                            <ul>
                                <li>Check the spelling of your search terms</li>
                                <li>Try using synonyms</li>
                                <li>Try using fewer words or a piece of your search terms</li>
                            </ul>                        </div>
                        <div class="load_more"><a href="#">LOAD MORE +</a></div>
                    </div>

                    <!-- End List Component-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End List-->