{%!
* ------------------------------------------------------------------------------ *
* Microsite - Comparison Boxes Container
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="comparison-boxes-container">
    <div class="row wrapper product-module">
        <div class="width-80">
        {%#each list.tiles%}
            {%#include title as="metlifeMicrosites/components/section/large-product"%}{%/include%}
        {%/each%}
        </div>
    </div>
</div>