
    <!-- Begin Large Product Module Component-->
    <a href="{% content.buttonLink %}">
        {%#if content.imagePath%}
        <img src="#" data-src="{% content.imagePath %}"
             class="lazy" alt="{% content.title %} Image">
        <noscript>
            <img src="{% content.imagePath %} "
                 alt="{% content.title %} Image" >
        </noscript>
        {%/if%}
    </a>

    <div class="large-product-top-section">
        <h3><a href="{% content.buttonLink %} ">{% content.title %} </a></h3>

        {%{ content.highligths }%}
    </div>
    <div class="large-product-bottom-section">
        {%# if content.buttonText%}
            <div>
                <a href="{% content.buttonLink %} ">{% content.buttonText %} </a>
            </div>
        {%/if%}

        <a href="{% content.quoteLink %} ">{% content.quoteText %} </a>
    </div>
    <!-- End Large Product Module Component-->


