
		<div class="row">
			<div class="col col-lg-12 video-text-component">
				<!-- End Text with video component-->


				<div class="video-text-section">
					<div class="video_with_text_section video-component">
						<div class="video_container">
							<!-- Start of Brightcove Player -->

							<div style="display:none">

							</div>

							<!--
                            By use of this code snippet, I agree to the Brightcove Publisher T and C
                            found at https://accounts.brightcove.com/en/terms-and-conditions/.
                            -->
							<div class="videoWrapper">

								{%#if content.isBrightcove%}
									{%#if content.brightcovevideoid%}
									<script language="JavaScript" type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>
									<object id="myExperience3891257518001" class="BrightcoveExperience">
										<param name="bgcolor" value="#FFFFFF"/>
										<param name="width" value="480"/>
										<param name="height" value="272"/>
										<param name="playerID" value="2701241535001"/>
										<param name="playerKey" value="AQ~~,AAAADvh-pwE~,v9t8LX0DjlsoW2DhueIG1jRpe9wXzNXL"/>
										<param name="isVid" value="true"/>
										<param name="isUI" value="true"/>
										<param name="dynamicStreaming" value="true"/>
										<param name="secureConnections" value="true"/>
										<param name="secureHTMLConnections" value="true"/>
										<param name="@videoPlayer" value="{%content.brightcovevideoid%}"/>
									</object>
										<script type="text/javascript">
                                            brightcove.createExperiences();
                                        </script>


									{%/if%}
								{%else%}
								{%#if content.youtubevideoid%}
								<iframe width="480" height="272"
										src="http://www.youtube.com/embed/{%content.youtubevideoid%}">
								</iframe>
								{%/if%}
								{%/if%}


							</div>



							<!-- End of Brightcove Player -->
						</div>
					</div>
					<div class="video_with_text_section text-component">
						{%#if content.title%}
						<h1 class="section-headline">{%content.title%}</h1>
						{%/if%}

						{%#if content.subTitle%}
						<h2>{%content.subTitle%}</h2>
						{%/if%}


						{%# each content.files%}
							{%#if text%}
							<div class="file-container">
								<div>
									<a href="{%#if link%}{%link%}{%else%}#{%/if%}"><img src="{%iconPath%}" alt="{%imageAlt%}" /></a>
								</div>
								<div>
									<a href="{%#if link%}{%link%}{%else%}#{%/if%}">{%text%}</a>
									<span>{%size%}</span>
								</div>
							</div>
							{%/if%}
						{%/each%}


					</div>
				</div>

				{%#if content.disclaimer%}
				<div class="disclaimer video-text-disclaimer">
					{%{content.disclaimer}%}
				</div>
				{%/if%}
			</div>
		</div>


