 <a href="{% content.mainlink %}" target="{%content.target%}" >{%#if page.isEditOrDesignMode%}{%#unless content.label%}Empty Label{%/unless%}{%/if%}{%content.label%}
    <img class=" home_page_sub_navigation_indicator"
         src="/static/images/icons_subnav/subnav_home_arrow.png"
         alt="Sub Nav Arrow"></a>
<nav class="home_page_sub_navigation_secondary">
    <div>
        <div class="home_page_sub_navigation_secondary_left {%#if content.rightLinks%}col-sm-9 col-md-9 col-lg-9{%else%}col-md-12{%/if%} no_padding">
            {%#each content.leftLinks%}
                <a href="{%this.path%}" target="{%this.target%}">
                    <img src="{%this.iconPath%}"
                         alt="{%this.firstLineText%} {%this.secondLineText%}" />
                    <div>{%this.firstLineText%} <span class="insert_newline"></span> {%this.secondLineText%}</div>
                </a>
            {%/each%}
        </div>
        {%#if content.rightLinks%}
            <div class="home_page_sub_navigation_secondary_right col-sm-3 col-md-3 col-lg-3">
                <div class="center_horizontal">
                    <div class="center_table">
                        <div class="center_vertical">
                            {%#each content.rightLinks%}
                            <a href="{%this.path%}" target="{%this.target%}">
                                <div>
                                    <div>
                                        <img src="{%this.iconPath%}"
                                             alt="{%this.label%}" />
                                    </div>
                                    <p>{%this.label%}</p>
                                </div>
                            </a>
                            {%/each%}
                        </div>
                    </div>
                </div>
            </div>
        {%/if%}
    </div>
</nav>