{%!
* ------------------------------------------------------------------------------ *
* Footer Farm Links Component
* ------------------------------------------------------------------------------ *
%}

<ul class="row footer-main__items hidden-xs">
    {%#each global.farmLinkSecction%}
    <li class="col footer-main__item">
        <h3 class="footer-main__label">{%label%}</h3>
        <ul class="footer-sub__items">
            {%#each links%}
            <li class="footer-sub__item">
                <a class="footer-sub__label"
                    href="{%link%}" 
                    target="{%target%}"
                    id="{%elementId%}">{%label%}</a>
            </li>
            {%/each%}
        </ul>
    </li>
    {%/each%}
</ul>