
<!-- Product Card Begin -->
<div class="container searchable in_view">
    <div class="row">
        <div class="col col-lg-12">
            <!--Begin Product Card Quote Component-->
            <div class="product-card">
                <div class="title">
                    Variable Universal Life Insurance
                </div>
                <div class="content">
                    <div class="content-body">
                        <span class="hidden-xs intro">
                        Variable universal life insurance lets you invest in professionally managed
                        investment options to potentially accumulate cash value while providing your
                        family with death benefit protection.<sup>4</sup>
                        </span>
                        <ul>
                            <li>Combines life insurance protection and an investment opportunity in one product</li>
                            <li>Cash value you can use in your lifetime<sup>5</sup></li>
                            <li>Riders may be available to guarantee a minimum death benefit for a set period, as long as guaranteed minimum premium requirements are met</li>
                        </ul>
                        <a class="hidden-xs read-more" href="#">Read FAQs</a>
                    </div>

                    <!-- Expand & Close (optional) -->
                    <div class="expand-open-close">
                        <div class="expand-content">
                            <span class="intro">The following information is now available on MetLife eDelivery:</span>
                            <ul>
                                <li>Product prospectus</li>
                                <li>Separate fund prospectuses</li>
                                <li>Prospectus supplements (if available)</li>
                                <li>Annual & semi-annual reports</li>
                                <li>Statements of additional information</li>
                            </ul>
                            <span>
                                Click below to download the PDFs for Equity Advantage Variable Universal Life. Or, call 1-800-MET-5000 or email
                                <a href="mailto:lifeinfo@metlifeservice.com">lifeinfo@metlifeservice.com</a> to have prospectuses mailed to you.
                            </span>
                            <ul>
                                <li><a href="https://www.metlife-edelivery.com/viewdocuments/FBU1000_tabbedDocuments.aspx?docs=all&rrd=ext&prodcode=EAVUL_ADG_MET" target="_blank">Policies issued in New York</a></li>
                                <li><a href="https://www.metlife-edelivery.com/viewdocuments/FBU1000_tabbedDocuments.aspx?docs=all&rrd=ext&prodcode=EAVUL_ADG_USA" target="_blank">Policies in all states other than New York</a></li>
                                <li><a href="https://eforms.metlife.com/wcm8/PDFFiles/23255.pdf" target="_blank">Performance Reports</a></li>
                            </ul>
                        </div>
                        <div class="expand-open hidden-xs">
                            <img src="/static/images/related_info/icon_arrow_expand.png" alt="expand arrow"/>
                            <span>Download Prospectuses and Performance Reports</span>
                        </div>
                        <div class="expand-close hidden-xs">
                            <img src="/static/images/related_info/icon_arrow_close.png" alt="expand arrow"/>
                            <span>Close</span>
                        </div>
                    </div>
                    <!-- Expand & Close (optional) -->
                </div>
                <div class="action">
                    <a class="btn-green" href="#">Contact A Rep</a>

                    <!-- Button subtext (optional) -->
                    <p>Then apply online!</p>
                    <!-- Button subtext (optional) -->

                    <!-- Click to Call (optional) -->
                    <div id="lpButtonDiv"></div>
                    <!-- Click to Call (optional) -->
                </div>
            </div>
            <!--End Product Card Quote Component-->
        </div>
    </div>
</div>
<!-- Product Card End -->
