{%!
* ------------------------------------------------------------------------------ *
* Find a X Office Link Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st options-small-component-wrapper" data-comp-spacing="options-small-component">
    <div class="row wrapper options-small-component">
        <svg class="icon brand-1st">
            <use xlink:href="/static/images/icons-metlife.svg#icon-map-location"></use>
        </svg>
        <div class="options-small-component-text">{%content.title%}</div>
        <div class="options-small-component-link">
            <a href="{%content.linkToResults%}">{%content.subtitle%}</a>
        </div>
    </div>
</div>