{%!
* Product Comparison Chart Container
* -----------------------------------------------------------------------------
* CHANGE HISTORY
* -----------------------------------------------------------------------------
* Version | Date        | Developer          | Changes
* 1.0     | 22/06/2016  | Sergio Torres      | Initial Creation
* -----------------------------------------------------------------------------
%}

<div class="container hidden-xs">
    <div class="row wrapper product-comparison-chart-title">
        <div class="product-comparison-chart-title-text text-center">{% content.title %}</div>
    </div>
</div>

<!-- Begin Product Comparison chart-->
<div class="container searchable product-comparison-chart">
    <div class="row wrapper">
        <div class="microsite-product-chart">
            <div class="row width-80">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="product_chart">
                        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 life_insurance_col1">
                            <div class="microsite-column-category left-col-mcc"></div>
                            <div class="column-cell">{% content.titleColumn %}</div>
                            {%#each content.rows%}
                                <div class="product_chart_key1 column-cell">
                                    <span><b>{% title %} &mdash;</b></span>
                                    <span>{% subTitle %}</span>
                                </div>
                            {%/each%}
                        </div>
                        <div class="carousel slide carousel--microsite" id="micrositeComparisonChartCarousel"
                             data-interval="false"
                             data-ride="carousel">

                            <div class="carousel-inner">
                        {%#each list.tiles%}
                        {%#include title as="metlifeMicrosites/components/section/prod-comp-chart"%}{%/include%}
                        {%/each%}
                            </div>
                        </div>

                    </div>
                    <a class="left carousel-control hidden-sm hidden-lg"
                       href="#micrositeComparisonChartCarousel" data-slide="prev">
                        <svg class="icon icon-chevron-left blue">
                            <use xlink:href="/static/images/icons-metlife.svg#icon-chevron-left"></use>
                        </svg>
                        <span class="sr-only">Prev</span>
                    </a>
                    <a class="right carousel-control hidden-sm hidden-lg"
                       href="#micrositeComparisonChartCarousel" data-slide="next">
                        <svg class="icon icon-chevron-right blue">
                            <use xlink:href="/static/images/icons-metlife.svg#icon-chevron-right"></use>
                        </svg>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Product Comparison Chart Disclaimer -->
<div class="container product-comparison-chart-disclaimer">
    <div class="row wrapper metlife-brand-9">

            {%{content.disclaimer}%}

    </div>
</div>