# Configuration created by Apache Sling JCR Installer
allow.hosts.regexp=["author.metlife.xumak.com/*","test.metlife.xumak.com/*","ssofed-qa.metlife.com/*"]
filter.methods=["POST","PUT","DELETE"]
allow.hosts=["author.metlife.xumak.com","test.metlife.xumak.com","ssofed-qa.metlife.com"]
allow.empty=B"true"

