{%!
* <Contextual Link>
    * ----------------------------------------------------------------------------- *
    * CHANGE HISTORY
    * -----------------------------------------------------------------------------
    * Version | Date       | Developer              | Changes
    * 1.0     | 2016/01/10 | J. Alejandro Morataya  | Initial Creation
    * ----------------------------------------------------------------------------- *
    %}
<a
   href="{% content.link %} "
   target="{% content.target %} ">
    <p class="col-lg-7 col-md-7 col-sm-12  col-xs-10">
        <img class="contextual_link_image col-lg-3 col-md-3 col-sm-3 col-xs-12 visible-lg visible-md visible-sm"
             src="{% content.imagePath %}"
             alt="{% content.title %}  Image"> {% content.title %}  <span class="hidden-xs insert_newline"></span>
        {%#if content.title2 %} {% content.title2 %} {%else%} &nbsp; {%/if%}

    </p>

    <div class="arrow_img_wrapper">
        <img class="arrow_image  hidden-md hidden-sm hidden-lg visiable-xs"
             src="/static/images/prodcompchart/blue_arrow_r.png" alt="Arrow Image">
    </div>
</a>
