{%!
* ------------------------------------------------------------------------------ *
* Small Product Container Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="small-product-container">
    <div class="row wrapper product-module in_view">
        <div class="product-module__small product-module__small--main bg-white">
            <h2>{%content.title%}</h2>
            <p>{%content.description%}</p>
        </div>
        {%#each list.tiles%}
            {%#include title as="MetlifeApp/components/section/small-product-card"%}{%/include%}
        {%/each%}
    </div>
</div>

{%#if page.isEditMode%}
<div style="clear:both;"></div>
{%/if%}