<div class="row">
        <div class="col col-lg-12">
            <!--Begin Sub Nav w/ Go Back Component-->
            <nav class="sub_nav_goback col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_nav_goback_header">
                    <span>{%content.goBackNavigationTitle%}</span>
                    <span><img src="/static/images/icons_subnav/icon_selectionarrows_white.png" alt="open arrow"></span>
                </div>
                <div class="sub_nav_goback_menu">
                    <div class="sub_nav_goback_back">
                        <a href="{%content.goBackPath%}.html" id="subNavGoBackInsuranceLink"
                               target="{%#if content.goBackTarget%}{%content.goBackTarget%}{%else%}_self{%/if%}">
                            <div>
                                <span><img src="/static/images/icons_subnav/subnav_back_arrow.png"
                                           alt="back arrow"></span>
                                <span>{%content.goBackNavigationTitle%}</span>
                            </div>
                        </a>
                    </div>
                    <ul class="sub_nav_goback_links">
                        {%#each list.pages%}
                         	<li>
                                 <a href="{%this.path%}.html" id="subNavGoBackTermLifeInsuranceLink" 
                         				target="{%#if this.target%}{%this.target%}{%else%}_self{%/if%}">
                                 	<div class="hidden-xs">
                                         <p>{%this.navigationTitle%}</p>
                                 	</div>
                                 	<div class="hidden-sm hidden-md hidden-lg">
                                     	<p>{%this.navigationTitle%}</p>
                                    </div>
                                 </a>
                        	</li>
                     	{%/each%}

                    </ul>
                </div>
            </nav>
            <!--End Sub Nav w/ Go Back Component-->
        </div>
</div>

