<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>internal-nexus</id>
			<username>nxdeveloper</username>
			<password>ilfyud0ocZibAbtybrAff</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>project-nexus-repository</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>internal-nexus</id>
					<name>xumak-nexus-public</name>
					<url>http://52.6.164.143/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>internal-nexus</id>
					<name>xumak-nexus-public</name>
					<url>http://52.6.164.143/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>project-nexus-repository</activeProfile>
	</activeProfiles>
</settings>
