{%!
* Large Product Module for Comparison Boxes Page
* -----------------------------------------------------------------------------
* CHANGE HISTORY
* -----------------------------------------------------------------------------
* Version | Date        | Developer          | Changes
* 1.0     | 20/06/2016  | Sergio Torres      | Initial Creation
* -----------------------------------------------------------------------------
%}

<img src="{% content.imagePath %}"
    data-src="{% content.imagePath %}"
    class="lazy"
    alt="{% content.altText %}">

<div class="product-module__top">
    <h3>
        <a href="{% content.buttonLink %}"
           class="brand-gray-4th"
           target="{%content.targetButton%}"
            id="{%content.buttonLinkId%}">
           {% content.title %}
        </a>
    </h3>
    <ul class="product-module__list">
        {%#each content.texts%}
            <li>{% itemList %}</li>
        {%/each%}
    </ul>
</div>