<!-- Content Header Begin -->
<div class="container-fluid white_background_container searchable searchable">
    <div class="row">
        <div class="col col-lg-12">
            <!-- Component Begin -->
            <div class="content_header">
                <h1 class="header">{%content.header%}</h1>

                <h2 class="snippet">{%content.subHeading%}</h2>

                <div class="paragraph">
                    <h1 class="paragraph_header">{%content.paragraph%}</h1>

                    <div class="paragraph_body">
                        {%{content.bodyText}%}
                    </div>
                </div>
            </div>
            <!-- Component Begin -->
        </div>
    </div>
</div>
<!-- Content Header End -->