{%!
* ------------------------------------------------------------------------------ *
* Form Personal Detail Update Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st update-info-form-wrapper" data-comp-spacing="update-info-form">
    <div class="row wrapper">
        <div class="updateInfoForm">
            {%#if content.staticForm%}
            {%#include "{% content.staticForm %}" as="metlifeGlobal/components/section/baseContactFormCard"%}{%/include%}
            {%/if%}
        </div>
    </div>
</div>