resource.resolver.searchpath=["/apps","/libs","/apps/foundation/components/primary","/libs/foundation/components/primary"]
resource.resolver.enable.vanitypath=B"true"
resource.resolver.optimize.alias.resolution=B"true"
resource.resolver.required.providers=["org.apache.sling.jcr.resource.internal.helper.jcr.JcrResourceProviderFactory"]
resource.resolver.default.vanity.redirect.status=I"302"
resource.resolver.mapping=["/-/","/etc/clientlibs/application/assets/-/","/content/metlife/us/homepage/-/","/content/metlife/us/homepage\.html</","/content/metlife/ar/homepage/-/","/content/metlife/ar/homepage\.html</","/content/metlife/bd/homepage/-/","/content/metlife/bd/homepage\.html</","/content/metlife/uk/homepage/-/","/content/metlife/uk/homepage\.html</","/content/metlife/kr/homepage/-/","/content/metlife/kr/homepage\.html</","/content/metlife/uy/homepage/-/","/content/metlife/uy/homepage\.html</","/content/metlife/np/homepage/-/","/content/metlife/np/homepage\.html</"]
resource.resolver.virtual=["/:/"]
resource.resolver.manglenamespaces=B"true"
resource.resolver.vanitypath.whitelist=[""]
resource.resolver.map.location="/etc/map"
resource.resolver.allowDirect=B"true"
resource.resolver.vanitypath.blacklist=[""]
