<!--Begin Video container-->
{%#if content.brightCoveVideoId%}
<div class="row">
    <div class="video_container">

        <div class="videoWrapper">


            <script language="JavaScript" type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>
            <object id="myExperience3891257518001" class="BrightcoveExperience">
                <param name="bgcolor" value="#FFFFFF"/>
                <param name="width" value="480"/>
                <param name="height" value="272"/>
                <param name="playerID" value="2701241535001"/>
                <param name="playerKey" value="AQ~~,AAAADvh-pwE~,v9t8LX0DjlsoW2DhueIG1jRpe9wXzNXL"/>
                <param name="isVid" value="true"/>
                <param name="isUI" value="true"/>
                <param name="dynamicStreaming" value="true"/>
                <param name="secureConnections" value="true"/>
                <param name="secureHTMLConnections" value="true"/>
                <param name="@videoPlayer" value="{%content.brightCoveVideoId%}"/>
            </object>
            <script type="text/javascript">
                brightcove.createExperiences();
            </script>
    
            </div>
            {%#if content.videoDuration%}<div class="video_duration">Duration: {%content.videoDuration%}</div>{%/if%}
            <div class="video_title">{%content.videoDescription%}</div>

    </div>
</div>
{%/if%}
<!--End Video container-->