{%!
* ------------------------------------------------------------------------------ *
* Press Article Video Component
* ------------------------------------------------------------------------------ *
%}
<div class="container" data-comp-spacing="pressroom-video">
    <div class="row wrapper video-text video-text--full">
        <div class="wrapper--news-article">
            <div class="video-text__video video-text__video--full no-float">
                <div class="video_container">
                    <div class="videoWrapper">
	                    {%#if content.brightcovevideoaccount%}
		                    {%#if content.brightcovevideoid%}
		                    <div style="display: block; position: relative; max-width: 100%;">
		                        <div style="padding-top: 56.25%;">
		                            <video style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"
		                                   data-video-id="{%content.brightcovevideoid%}"
		                                   data-account="{%content.brightcovevideoaccount%}"
		                                   data-player="default"
		                                   data-embed="default"
		                                   class="video-js"
		                                   controls></video>
		                            <script src="//players.brightcove.net/{%content.brightcovevideoaccount%}/default_default/index.min.js"></script>
		                        </div>
		            		</div>
		                    {%/if%}
	                    {%/if%}
                    </div>
                </div>
            </div>
            {%#if content.videoDuration%}
            <div class="video-text__description video-text__description--full video metlife-brand-6">
                <p>Duration:{%content.videoDuration%}</p>
                <h3>{%content.videodescription%}</h3>
            </div>
            {%/if%}
        </div>
    </div>
</div>