{%!
* ------------------------------------------------------------------------------ *
* Contact Us Section Header Container Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="contactus-section-header-container">
	<div class="row wrapper contact-us__address-block contact-us__results__wrapper">
		<div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h2 class="text-center normal contact-us__address_header">{%content.sectionHeader%}</h2>
            </div>
            {%#each content.numberContacts %}
                {%#include this as="metlifeCommons/components/section/contactus-section-header"%}{%/include%}
            {%/each%}
        </div>
    </div>
</div>