{%!
* ------------------------------------------------------------------------------ *
* Video And Text Component for Press Article Template
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="text-video">
	<div class="row wrapper video-text">
		<div class="video-text__video">
			<div class="video_container">
				{%#if content.EqualTo_0%}
					<div class="videoWrapper">
						<div style="display:none"></div>
						{%#if content.brightcovevideoid%}
							<div style="display: block; position: relative; max-width: 100%;">
								<div style="padding-top: 56.25%;">
									<video style="width: 100%;
										height: 100%;
										position: absolute;
										top: 0px;
										bottom: 0px;
										right: 0px;
										left: 0px;"
										   data-video-id="{%content.brightcovevideoid%}"
										   data-account="{%content.brightcoveaccountid%}"
										   data-player="default"
										   data-embed="default"
										   class="video-js"
										   controls></video>
									<script src="//players.brightcove.net/{%content.brightcoveaccountid%}/default_default/index.min.js"></script>
								</div>
							</div>
						{%/if%}
					</div>	
				{%else%}
					<div class="videoWrapper videoWrapper--youtube">
						<iframe width="100%" height="100%"
								src="http://www.youtube.com/embed/{%content.youtubevideoid%}"
								frameborder="0"
								allowfullscreen></iframe>
					</div>
				{%/if%}
			</div>
		</div>
		<div class="video-text__description video metlife-brand-6">
			{%#if content.title%}
				<h2>{%content.title%}</h2>
			{%/if%}
			{%#if content.subTitle%}
				<h3>{%content.subTitle%}</h3>
			{%/if%}
			{%#if content.enableFiles%}
				{%# each content.files%}
					{%#if text%}
					<div class="video-text__document">
						<img src="/static/images/{% iconFile %}"
							 alt="{%altText%}">
						<div class="video-text__document__descriptor">
								<a href="{% pdflinkSpooled %}"
								   target="{%target%}"
								   id="{%elementId%}">{%text%}</a>
							<p>{%#if fileDescription%}{%fileDescription%} {%/if%}{%fileSize%}</p>
						</div>
					</div>
					{%/if%}
				{%/each%}
			{%/if%}
		</div>
	</div>
	{%#if content.disclaimer%}
		<div class="row wrapper disclaimer metlife-copy-9">
			{%{content.disclaimer}%}
		</div>
	{%/if%}
</div>
