{%!
* ------------------------------------------------------------------------------ *
* Bread Crumb Component - Schema
* ------------------------------------------------------------------------------ *
%}

<!-- Breadcrumb schema -->
<script type="application/ld+json">
{
"@context": "http://schema.org",

"@type": "BreadcrumbList",

"itemListElement": [
{%#each this.canonicalUrlList%}
{
"@type": "ListItem",
"position": {%position%},
"item": {
"@id": "{%path%}",
"name": "{%navigationTitle%}"
}
}{%#unless @last%},{%/unless%}
{%/each%}
]
}
</script>