<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <div class="footer_links hidden-xs col-sm-12">
            	{%#each global.farmLinkSecction%}
                    <div class="footer_links_col col col-sm-2 col-md-2">
                        <div class="footer_links_col_title">{%label%}</div>
                        <ul>
                        	{%#each links%}
                                <li>
                                    <a href="{%link%}" target="{%target%}" id="linkFarmAboutMetlifeCareersLink">{%label%}</a>
                                </li>
							             {%/each%}
                        </ul>
                    </div>
              {%/each%}
            </div>
        </div>
    </div>
</div>
