{%!
* ------------------------------------------------------------------------------ *
* Back Link Component for Press Article Template
* ------------------------------------------------------------------------------ *
%}

{%#if content.title%}
<div class="container" data-comp-spacing="back-link">
	<div class="row wrapper">
		<div class="breadcrumb__crumb--back-glyph">
        	<a href="#" class="breadcrumb__crumb--back"
			   onclick="window.history.go(-1); return false;">{%content.title%}</a>
		</div>
	</div>
</div>
{%/if%}