{%!
* ------------------------------------------------------------------------------ *
* Category Page Template
* ------------------------------------------------------------------------------ *
%}

{%! Category Page Subnav %}
{%#include "subnav" as="MetlifeApp/components/section/category-subnav"%}{%/include%}

{%! Bread Crumb %}
{%#if page.disableBreadcrumb%}
    {%#if content.EqualTo_4%}  {%! if page.disableBreadcrumb==enable  %}
        {%#include "bread-crumb" as="MetlifeApp/components/section/bread-crumb"%}{%/include%}
    {%/if%}
{%else%}
    {%#if global.activeBreadCrumb%} {%! if global.disableBreadcrumb==enable  %}
        {%#include "bread-crumb" as="MetlifeApp/components/section/bread-crumb"%}{%/include%}
    {%/if%}
{%/if%}

{%! Click to Chat %}
{%#include "click-to-chat-on-page-title" as="MetlifeApp/components/section/click-to-chat-on-page-title"%}{%/include%}

{%! Page Title %}
{%#include "page-title" as="MetlifeApp/components/section/page-title"%}{%/include%}

{%! Content Parsys %}
{%#include "content-parsys" as="foundation/components/parsys"%}{%/include%}
