{%!
* ------------------------------------------------------------------------------ *
* FAQ Component
* ------------------------------------------------------------------------------ *
%}

{%#if content.expand%}
<div class="container" data-comp-spacing="faq">
    <div class="row wrapper in_view">
        <div class="width-80 accordion" data-faq="most_common">
            <div>
                <div class="accordion__name pull-left">{%content.title%}</div>
                <div class="accordion__toggle-all brand-1st pull-right hidden-xs">
                    <span class="expandAll">{%content.expand%}</span>
                    <span class="collapseAll">{%content.collapse%}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            {%#each content.qalist%}
                {%#if question%}
                    <div class="border-top">
                        <div class="accordion__title ">
                            <span class="brand-1st">{%question%}</span>
                            <svg class="icon icon-plus accordion__title__icon pull-right">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="/static/images/icons-metlife.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon icon-minus accordion__title__icon accordion__title__icon--hide pull-right">
                                <use xlink:href="/static/images/icons-metlife.svg#icon-minus"></use>
                            </svg>
                        </div>
                        <div class="accordion__content">{%{answer}%}</div>
                    </div>
                {%/if%}
            {%/each%}
        </div>
    </div>
</div>
{%else%}
	{%#if page.isEditOrDesignMode%}
        <div style="text-align:center">
            <spam   style="color: #999999;" >FAQ List<spam><br>
            <img src="/etc/designs/default/0.gif" class="cq-list-placeholder"  style="width:80%;height:300px;" alt="FAQ" >
        </div>
	{%/if%}
{%/if%}


