{%!
* ------------------------------------------------------------------------------ *
* Metlife HTML Base - Extra Scripts
* ------------------------------------------------------------------------------ *
%}

{%! Ensighten %}
{%#if page.vendorTagging%}
    {%#if content.EqualTo_14%}   {%! if page.vendorTagging==enable  %}
        <script type="text/javascript" src="//nexus.ensighten.com/metlife/omlus/Bootstrap.js"></script>
    {%/if%}
{%else%}
    {%#if global.vendorTagging%}   {%! global.vendorTagging==enable %}
        <script type="text/javascript" src="//nexus.ensighten.com/metlife/omlus/Bootstrap.js"></script>
    {%/if%}
{%/if%}

{%! Click Tale %}
{%#if page.vendorJourney%}
    {%#if content.EqualTo_8%}   {%! if page.vendorJourney==enable  %}
        <script type="text/javascript">
            var oPageName = "MetLife.com ";
            var oPID = 18661;
        </script>
    {%/if%}
{%else%}
    {%#if global.vendorJourney%}   {%! global.vendorJourney==enable %}
        <script type="text/javascript">
            var oPageName = "MetLife.com ";
            var oPID = 18661;
        </script>
    {%/if%}
{%/if%}

{%! Optimost %}
{%#if page.vendorABTesting%}
    {%#if content.EqualTo_6%}   {%! if page.vendorABTesting==enable  %}
        <script type="text/javascript" src="https://secure.marketinghub.opentext.com/es/1676/c/24/u/customer.placement.js"></script>
        <script>
            var opPageId = "MetLife Term Life Insurance Static";
        </script>
    {%/if%}
{%else%}
    {%#if global.vendorABTesting%}   {%! global.vendorABTesting==enable %}
        <script type="text/javascript" src="https://secure.marketinghub.opentext.com/es/1676/c/24/u/customer.placement.js"></script>
        <script>
            var opPageId = "MetLife Term Life Insurance Static";
        </script>
    {%/if%}
{%/if%}

{%! Analytics %}
{%#if page.analyticsTag%}
    {%#if content.EqualTo_16%}   {%! if page.analyticsTag==enable  %}
        {%#if content.EqualTo_18%}  {%! if page.environmentType==production  %}
            <!--Production -->
            {%{config.ml_dtmTagsHeaderProduction}%}
        {%else%}
            <!--Staging -->
            {%{config.ml_dtmTagsHeaderStaging}%}
        {%/if%}
    {%/if%}
{%else%}
    {%#if content.EqualTo_17%}   {%! global.analyticsTag==enable %}
        {%#if content.EqualTo_19%}  {%! if global.environmentType==production  %}
            <!--Production -->
            {%{config.ml_dtmTagsHeaderProduction}%}
        {%else%}
            <!--Staging -->
            {%{config.ml_dtmTagsHeaderStaging}%}
        {%/if%}
    {%/if%}
{%/if%}

{%! Global Scripts %}
{%#each global.headerExternalJavascript %}
    {%#if scriptPath%}
        <script src="{%scriptPath%}"></script>
    {%/if%}
{%/each%}
{%#if global.headerJsCode%}
    <script type="text/javascript">{%{global.headerJsCode}%}</script>
{%/if%}

{%! Page Scripts %}
{%#each page.headerExternalJavascript %}
    {%#if scriptPath%}
        <script src="{%scriptPath%}"></script>
    {%/if%}
{%/each%}
{%#if page.headerJsCode%}
    <script type="text/javascript">{%{page.headerJsCode}%}</script>
{%/if%}    