{%!
* ------------------------------------------------------------------------------ *
* Metlife HTML Base - Login
* ------------------------------------------------------------------------------ *
%}

<div class="login-container">
    <form id="formLogin" name="formLogin" action="https://online.metlife.com/edge/web/public/identifyUser" method="POST"
          onSubmit="return loginFunction();">
        <div class="row login-container-header">
            <div class="col-sm-5 login-container-header--left">
                <div class="login-container--close">
                    <svg class="icon">
                        <use xlink:href="/static/images/icons-metlife.svg#icon-close"></use>
                    </svg>
                    <span class="login-container--close__label">CLOSE</span>
                </div>
            </div>
            <div class="col-xs-4 col-xs-push-4 col-sm-2 login-container-header--middle">
                <a href="{%global.logoLink%}" title="{%global.logoAltText%}">
                    <img src="{%global.logoImagePath%}" alt="{%global.logoAltText%}"
                         class="global-header__logo img-responsive"></a>
            </div>
        </div>
        {%#if global.loginConfigurationPathResourcePropertieslogin.activeAlert%}
            <div class="row login-popout__title login-container-alert">
                <div>
                    <h2>{%global.loginConfigurationPathResourcePropertieslogin.titleAlert%}</h2>
                    <p>{%global.loginConfigurationPathResourcePropertieslogin.textMessageAlert%}</p>
                </div>
            </div>
        {%/if%}
        <h2 class="login-popout__title">{%global.loginConfigurationPathResourcePropertieslogin.loginTitle%}</h2>
        <div class="login-popout">
            {%#if global.loginConfigurationPathResourcePropertieslogin.activateLoginType%}
                <div class="form-item login-type-options">
                    <div class="form-item__field form-icon-wrapper">
                        <svg class="icon">
                            <use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                        </svg>
                        <select class="login-type">
                            <option value="for_individuals">For Individuals</option>
                            <option value="for_businesses">For Businesses</option>
                            <option value="for_brokers">For Brokers</option>
                        </select>
                    </div>
                    <div class="login-popout-msg-container" data-popout-msg="for_individuals-popout">
                        <div class="login-popout-msg">
                            <span class="login-popout-msg__title">For Individuals</span>
                            <span class="login-popout-msg__copy">{%global.loginConfigurationPathResourcePropertieslogin.individualCopyFirst%}</span>
                            <span class="login-popout-msg__copy">{%global.loginConfigurationPathResourcePropertieslogin.individualCopySecond%}</span>
                        </div>
                    </div>
                    <div class="login-popout-msg-container" data-popout-msg="for_businesses-popout">
                        <div class="login-popout-msg">
                            <span class="login-popout-msg__title">For Businesses</span>
                            <span class="login-popout-msg__copy">{%global.loginConfigurationPathResourcePropertieslogin.businessesCopyFirst%}</span>
                            <span class="login-popout-msg__copy">{%global.loginConfigurationPathResourcePropertieslogin.businessesCopySecond%}</span>
                            <span class="login-popout-msg__copy">{%global.loginConfigurationPathResourcePropertieslogin.businessesCopyThird%}</span>
                        </div>
                    </div>
                    <div class="login-popout-msg-container" data-popout-msg="for_brokers-popout">
                        <div class="login-popout-msg">
                            <span class="login-popout-msg__title">For Brokers</span>
                            <span class="login-popout-msg__copy">{%global.loginConfigurationPathResourcePropertieslogin.brokersCopyFirst%}</span>
                            <span class="login-popout-msg__copy">{%global.loginConfigurationPathResourcePropertieslogin.brokersCopySecond%}</span>
                        </div>
                    </div>
                </div>
            {%/if%}
            <div class="form-item login-type-biz-account">
                <div class="form-item__field form-icon-wrapper">
                    <svg class="icon">
                        <use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                    </svg>
                    <select class="login-type" id="biz-account-type">
                        <option value="">Select an option</option>
                        <option value="metlink">MetLink</option>
                        <option value="mybenefits">MyBenefits</option>
                        <option value="sbr">SBR</option>
                    </select>
                </div>
            </div>
            <div class="form-item login-type-biz-purpose">
                <div class="form-item__field form-icon-wrapper">
                    <svg class="icon">
                        <use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                    </svg>
                    <select class="login-type" id="biz-account-purpose">
                        <option value="">Select an option</option>
                        <option value="my-benefits-home">My Benefits Home</option>
                        <option value="for_businesses">Check your group disability claim</option>
                        <option value="check-your-group-disability-claim">Check Your Group Disability Claim</option>
                        <option value="check-your-dental-claim-plan">Check Your Dental Claim/Plan</option>
                        <option value="check-your-retirement-income">Check Your Retirement Income</option>
                        <option value="retirement-education">Retirement Education</option>
                    </select>
                </div>
            </div>
            <div class="form-item login-type-username">
                <div class="form-item__field">
                    <input type="text"
                           placeholder="{%global.loginConfigurationPathResourcePropertieslogin.usernameDisclaimer%}"
                           name="username" data-required="true">
                </div>
            </div>
            <div class="form-item login-type-password">
                <div class="form-item__field">
                    <input type="password"
                           placeholder="{%global.loginConfigurationPathResourcePropertieslogin.passwordDisclaimer%}"
                           name="password" data-required="true">
                </div>
            </div>
        </div>
        <div class="login-popout">
            <a href="{%global.loginConfigurationPathResourcePropertieslogin.linkForIndividuals%}"
               class="login-popout__action" data-popout-msg="for_individuals"
               target="{%global.loginConfigurationPathResourcePropertieslogin.target%}">{%global.loginConfigurationPathResourcePropertieslogin.forgetForIndividualsText%}</a>
            <a href="{%global.loginConfigurationPathResourcePropertieslogin.linkForBusinesses%}"
               class="login-popout__action" data-popout-msg="for_businesses"
               target="{%global.loginConfigurationPathResourcePropertieslogin.target%}">{%global.loginConfigurationPathResourcePropertieslogin.forgetForBusinessesText%}</a>
            <a href="{%global.loginConfigurationPathResourcePropertieslogin.linkForBrokers%}"
               class="login-popout__action" data-popout-msg="for_brokers"
               target="{%global.loginConfigurationPathResourcePropertieslogin.target%}">{%global.loginConfigurationPathResourcePropertieslogin.forgetForBrokersText%}</a>
        </div>
        <div class="login-popout login-submit">
            <input type="submit"
                   class="{%#if global.loginConfigurationPathResourcePropertieslogin.buttonColor%}{%global.loginConfigurationPathResourcePropertieslogin.buttonColor%}{%else%}btn-brand-2nd{%/if%} js-submitLogin"
                   value="{%#if global.loginConfigurationPathResourcePropertieslogin.buttonText%}{%global.loginConfigurationPathResourcePropertieslogin.buttonText%}{%else%}Login{%/if%}"/>
        </div>
        <div class="login-popout" data-popout-msg="for_individuals">
            <span class="login-popout__not-registered">{%global.loginConfigurationPathResourcePropertieslogin.titleLinkForIndividuals%}</span>
            <a href="{%global.loginConfigurationPathResourcePropertieslogin.individualsLink%}"
               class="login-popout__action" target="{%global.loginConfigurationPathResourcePropertieslogin.target%}">{%global.loginConfigurationPathResourcePropertieslogin.textLinkForIndividuals%}</a>
        </div>
        <div class="login-popout" data-popout-msg="for_businesses">
            <span class="login-popout__not-registered">{%design.titleLinkForBusinesses%}</span>
            <a href="{%design.businessesLink%}" class="login-popout__action"
               target="{%global.loginConfigurationPathResourcePropertieslogin.target%}">{%design.textLinkForBusinesses%}</a>
        </div>
        <div class="login-popout" data-popout-msg="for_brokers">
            <span class="login-popout__not-registered">{%global.loginConfigurationPathResourcePropertieslogin.titleLinkForBrokers%}</span><br>
            <a href="{%global.loginConfigurationPathResourcePropertieslogin.brokersLink%}" class="login-popout__action"
               target="{%global.loginConfigurationPathResourcePropertieslogin.target%}">{%global.loginConfigurationPathResourcePropertieslogin.textLinkForBrokers%}</a>
        </div>
        <div class="login-popout go-to-benefits" data-popout-msg="for_benefits">
            <a href="{%global.loginConfigurationPathResourcePropertieslogin.withoutSigningLink%}"
               class="login-popout__action" target="{%global.loginConfigurationPathResourcePropertieslogin.target%}">{%global.loginConfigurationPathResourcePropertieslogin.withoutSigningTextLink%}</a>
        </div>
        {%> login_footer %}
    </form>
</div>