{%!
* ------------------------------------------------------------------------------ *
* Metlife HTML Base - Mega Menu
* ------------------------------------------------------------------------------ *
%}

<div class="row megamenu">
    <ul class="megamenu__main-items megamenu__top--promo">
        {%#each global.megaMenuConfigurationResourcePropertiesmegamenu.firstRow%}
            <li class="megamenu__main-item">
                <a href="#"
                   target="{%mainTarget%}"
                   class="megamenu__main-item-label visible-xs"
                   id="{%linkId%}">{%title%}</a>
                <a href="{%link%}"
                   target="{%mainTarget%}"
                   class="megamenu__main-item-label hidden-xs"
                   id="{%linkId%}">{%title%}</a>
                <svg class="icon icon-chevron-right">
                    <use xlink:href="/static/images/icons-metlife.svg#icon-chevron-right"></use>
                </svg>
                <ul class="megamenu__sub-items megamenu__sub-items--action">
                    {%#each links%}
                        <li class="megamenu__sub-item">
                            <a class="megamenu__sub-item-label"
                               id="{%elementId%}"
                               target="{%innerTarget%}"
                               href="{%innerLink%}">{%innerLabel%}
                            </a>
                        </li>
                    {%/each%}
                </ul>
            </li>
        {%/each%}
        <div class="hidden-xs megamenu__divider"></div>
    </ul>
    <ul class="megamenu__main-items megamenu__bottom--promo">
        {%#if global.megaMenuConfigurationResourcePropertiesmegamenu.secondRow.column0.link%}
            {%#each global.megaMenuConfigurationResourcePropertiesmegamenu.secondRow%}
            <li class="megamenu__main-item">
                <a href="#"
                   target="{%mainTarget%}"
                   class="megamenu__main-item-label visible-xs"
                   id="{%linkId%}">{%title%}</a>
                <a href="{%link%}"
                   target="{%mainTarget%}"
                   class="megamenu__main-item-label hidden-xs"
                   id="{%linkId%}">{%title%}</a>
                <svg class="icon icon-chevron-right">
                    <use xlink:href="/static/images/icons-metlife.svg#icon-chevron-right"></use>
                </svg>
                <ul class="megamenu__sub-items">
                    {%#each links%}
                        <li class="megamenu__sub-item">
                            <a class="megamenu__sub-item-label"
                               target="{%innerTarget%}"
                               id="{%elementId%}"
                               href="{%innerLink%}">{%innerLabel%}
                            </a>
                        </li>
                    {%/each%}
                </ul>
            </li>
            {%/each%}
        {%/if%}

        <!-- Promoboxes -->

        {%#if global.megaMenuConfigurationResourcePropertiesmegamenu.secondRow.column0.link%}
            <div class="megamenu--promoboxes">
                {%#each global.megaMenuConfigurationResourcePropertiesmegamenu.promos%}
                    {%#if image.spooledImage%}
                        <a href="{%link%}"
                           id="{%linkId%}"
                           target="{%promoLinkTarget%}">
                            <div class="megamenu--promobox bg-gray-1st">
                                <div class="megamenu--promobox--img inline-block"
                                     data-image-src="{%image.spooledImage%}">
                                </div>
                                <div class="megamenu--promobox--content inline-block">
                                    <div class="megamenu--promobox--content--header">{%title%}</div>
                                    <div class="megamenu--promobox--content--header--body">{%description%}
                                        <span>{%label%}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {%/if%}
                {%/each%}
            </div>
        {%else%}
            {%#each global.megaMenuConfigurationResourcePropertiesmegamenu.promos%}
                {%#if image.spooledImage%}
                    <div class="megamenu--promoboxes">
                    <a href="{%link%}"
                       id="{%linkId%}"
                       target="{%promoLinkTarget%}">
                        <div class="megamenu--promobox bg-gray-1st">
                            <div class="megamenu--promobox--img inline-block"
                                 data-image-src="{%image.spooledImage%}">
                            </div>
                            <div class="megamenu--promobox--content inline-block">
                                <div class="megamenu--promobox--content--header">{%title%}</div>
                                <div class="megamenu--promobox--content--header--body">{%description%}
                                    <span>{%label%}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {%/if%}
            {%/each%}
        {%/if%}
    </ul>
</div>