{%!
* ------------------------------------------------------------------------------ *
* Metlife HTML Base - Scripts
* ------------------------------------------------------------------------------ *
%}

{%! DynaTrace %}
{%#if page.vendorMeasuring%}
    {%#if content.EqualTo_12%}   {%! if page.vendorMeasuring==enable  %}
        <script type="text/javascript" src="/static/js/dtagent626_bdxjnpr23_1019.js"
                data-dtconfig="tp=500,50,0|cors=1|reportUrl=https://metlife.compuwareapmaas.com:8443/dynaTraceMonitor"></script>
    {%/if%}
{%else%}
    {%#if global.vendorMeasuring%} {%! global.disableFarmsite==enable %}
        <script type="text/javascript" src="/static/js/dtagent626_bdxjnpr23_1019.js"
                data-dtconfig="tp=500,50,0|cors=1|reportUrl=https://metlife.compuwareapmaas.com:8443/dynaTraceMonitor"></script>
    {%/if%}
{%/if%}

<script>
    var pagePath = '{% page.path %}'
</script>

{% initWCMScript "" %}
{%> extrascripts %}
