
<!-- Begin Container. Large prod card, medium prod card, small prod card, CTA footer, Product Disclaimer-->
<!-- Begin Large Product Module-->
<div class="row">
    <div class="col col-lg-12">
        <div class="large_product_module_wrapper col-md-12">
            {%#each list.tiles%}
                {%#include title as="MetlifeApp/components/section/subcategory-tile"%}{%/include%}
            {%/each%}
        </div>
    </div>
</div>

<!-- End Large Product Module-->
{%#if page.isEditMode%}

    <div style="clear:both;"></div>
{%/if%}