{%!
* ------------------------------------------------------------------------------ *
* Microsite Home Page Template
* ------------------------------------------------------------------------------ *
%}

{%! Microsite Sub Navigation %}
{%#include "subnavigaton" as="metlifeMicrosites/components/section/subnavigation"%}{%/include%}

{%! Microsite Hero Carousel %}
{%#include "hero-carousel" as="metlifeMicrosites/components/section/banner-carousel"%}{%/include%}

{%! Microsite Large Product Modules %}
{%#include "info-module" as="metlifeMicrosites/components/section/microsite-info-modules"%}{%/include%}

{%! Microsite Content Header Section %}
{%#include "additional-info-module" as="metlifeMicrosites/components/section/additional-info"%}{%/include%}

{%! Content Parsys %}
{%#include "content-parsys" as="foundation/components/parsys"%}{%/include%}