{%!
* ------------------------------------------------------------------------------ *
* Campaign Links Section Component
* ------------------------------------------------------------------------------ *
%}

<div class="container links-section-wrapper" data-comp-spacing="links-section">
	<div class="row campaign-d-content-section campaign-content-linksection">
		{%#if content.linksList%}
		    {%#each content.linksList%}
		        <a id="{%elementId%}" class="btn btn-brand-2nd matching-element-width" href="{%linkValue%}" target="{%target%}">{%linkLabel%}</a>
		    {%/each%}
		{%/if %}
		{%#if content.enableCTCButton%}
			<a id="{%content.livePersonPageId%}" class="campaign-card-ctc matching-element-width">{%content.ctcButtonText%}</a>
		{%/if %}
	</div>
</div>