<!--Begin Page Title-->
<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <!--Begin Page Title Component-->
            <div class="page_title ">
                <h1>Forms</h1>

                <p>Form configuration page</p>
            </div>
            <!--End Page Title Component-->
        </div>
    </div>
</div>
<!-- End Page Title-->
<!--Begin Page Title-->
<div class="container">
    <div class="row">
        <div class="col col-lg-8 col-lg-offset-2">
			{%#include "container" as="MetlifeApp/components/forms/container"%}{%/include%}
        </div>
    </div>
</div>
