{%!
* ------------------------------------------------------------------------------ *
* Image Component for Press Article Template
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="pressroom-image">
    <div class="row wrapper">
		<div class="optional-image">
		    <div class="wrapper--news-article">
		        {%#if content.imagePath%}
		            <img src="{%content.imagePath%}"
		                 alt="{% content.altText %}"
		                 class="enlarge optional-image__img">
						{%#if content.imageDescription%}
		                    <p class="optional-image__description">
		                        {%content.imageDescription%}
		                    </p>
		                {%/if%}
		        {%/if%}
		    </div>
		</div>
	</div>
</div>