{%!
* ------------------------------------------------------------------------------ *
* Microsite HTML Base - Extra Scripts
* ------------------------------------------------------------------------------ *
%}

{%! Ensighten %}
{%#if page.vendorTagging%}
    {%#if content.EqualTo_14%}   {%! if page.vendorTagging==enable  %}
        <script type="text/javascript" src="//nexus.ensighten.com/metlife/omlus/Bootstrap.js"></script>
    {%/if%}
{%else%}
    {%#if content.EqualTo_15%}   {%! global.vendorTagging==enable %}
        <script type="text/javascript" src="//nexus.ensighten.com/metlife/omlus/Bootstrap.js"></script>
    {%/if%}
{%/if%}

{%! Click Tale %}
{%#if page.vendorJourney%}
    {%#if content.EqualTo_8%}   {%! if page.vendorJourney==enable  %}
        <script type="text/javascript">
            var oPageName = "MetLife.com ";
            var oPID = 18661;
        </script>
    {%/if%}
{%else%}
    {%#if content.EqualTo_9%}   {%! global.vendorJourney==enable %}
        <script type="text/javascript">
            var oPageName = "MetLife.com ";
            var oPID = 18661;
        </script>
    {%/if%}
{%/if%}

{%! Optimost %}
{%#if page.vendorABTesting%}
    {%#if content.EqualTo_6%}   {%! if page.vendorABTesting==enable  %}
        <script type="text/javascript" src="https://secure.marketinghub.hp.com/es/1676/c/24/u/customer.placement.js"></script>
        <script>
            var opPageId = "MetLife Term Life Insurance Static";
        </script>
    {%/if%}
{%else%}
    {%#if content.EqualTo_7%}   {%! global.vendorABTesting==enable %}
        <script type="text/javascript" src="https://secure.marketinghub.hp.com/es/1676/c/24/u/customer.placement.js"></script>
        <script>
            var opPageId = "MetLife Term Life Insurance Static";
        </script>
    {%/if%}
{%/if%}

{%! Gomez %}
{%#if page.vendorMeasuring%}
    {%#if content.EqualTo_12%}   {%! if page.vendorMeasuring==enable  %}
        <script type="text/javascript" src="/system/js/vendor/dtagent61_bdxjnpr23.js" data-dtconfig="tp=500,50,0|cors=1|reportUrl=https://metlife.compuwareapmaas.com:8443/dynaTraceMonitor"></script>
    {%/if%}
{%else%}
    {%#if content.EqualTo_13%}   {%! global.disableFarmsite==enable %}
        <script type="text/javascript" src="/system/js/vendor/dtagent61_bdxjnpr23.js" data-dtconfig="tp=500,50,0|cors=1|reportUrl=https://metlife.compuwareapmaas.com:8443/dynaTraceMonitor"></script>
    {%/if%}
{%/if%}

{%! Opinion Lab %}
{%#if page.vendorFeedback%}
    {%#if content.EqualTo_10%}   {%! if page.vendorFeedback==enable  %}
        <script type="text/javascript" src="/system/js/vendor/oo_engine.min.js"></script>
        <script type="text/javascript" src="/system/js/vendor/oo_conf.js"></script>
    {%/if%}
{%else%}
    {%#if content.EqualTo_11%}   {%! global.vendorFeedback==enable %}
        <script type="text/javascript" src="/system/js/vendor/oo_engine.min.js"></script>
        <script type="text/javascript" src="/system/js/vendor/oo_conf.js"></script>
    {%/if%}
{%/if%}

{%#if page.analyticsTag%}
    {%#if content.EqualTo_16%}   {%! if page.analyticsTag==enable  %}
        <!--Staging -->
        <!-- <script src="//assets.adobedtm.com/7bd378b63ae642286f5e272876265df98dfca74c/satelliteLib-1d02f12db30b42acb280ec9ed879409399977b30-staging.js"></script>-->
        <!--Production -->
        <!-- <script src="//assets.adobedtm.com/7bd378b63ae642286f5e272876265df98dfca74c/satelliteLib-1d02f12db30b42acb280ec9ed879409399977b30.js"></script>-->
    {%/if%}
{%else%}
    {%#if content.EqualTo_17%}   {%! global.analyticsTag==enable %}
        <!--Staging -->
        <!-- <script src="//assets.adobedtm.com/7bd378b63ae642286f5e272876265df98dfca74c/satelliteLib-1d02f12db30b42acb280ec9ed879409399977b30-staging.js"></script>-->
        <!--Production -->
        <!-- <script src="//assets.adobedtm.com/7bd378b63ae642286f5e272876265df98dfca74c/satelliteLib-1d02f12db30b42acb280ec9ed879409399977b30.js"></script>-->
    {%/if%}
{%/if%}