{%!
* ------------------------------------------------------------------------------ *
* Microsite HTML Base - Scripts End Body
* ------------------------------------------------------------------------------ *
%}

{%! Click Tale %}
{%#if page.vendorJourney%}
    {%#if content.EqualTo_8%}   {%! if page.vendorJourney==enable  %}
        <script type='text/javascript'>
            document.write(unescape("%3Cscript%20src='" +
                    (document.location.protocol == 'https:' ?
                            'https://clicktalecdn.sslcs.cdngc.net/' :
                            'http://cdn.clicktale.net/') +
                    "www13/ptc/cf3bf1d0-4f23-4cef-b69c-eefecd22b04f.js'%20type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            if (typeof jsl != 'undefined') {
                jsl.add("/system/js/vendor/onlineopinionS3tS/oo_conf.js");
                jsl.load();
            } else {
                document.write("<script type=\"text/Javascript\" src=\"/system/js/vendor/onlineopinionS3tS/oo_conf.js\"></" + "script>");
            }
        </script>
    {%/if%}
{%else%}
    {%#if content.EqualTo_9%}   {%! global.vendorJourney==enable %}
        <script type='text/javascript'>
            document.write(unescape("%3Cscript%20src='" +
                    (document.location.protocol == 'https:' ?
                            'https://clicktalecdn.sslcs.cdngc.net/' :
                            'http://cdn.clicktale.net/') +
                    "www13/ptc/cf3bf1d0-4f23-4cef-b69c-eefecd22b04f.js'%20type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            if (typeof jsl != 'undefined') {
                jsl.add("/system/js/vendor/onlineopinionS3tS/oo_conf.js");
                jsl.load();
            } else {
                document.write("<script type=\"text/Javascript\" src=\"/system/js/vendor/onlineopinionS3tS/oo_conf.js\"></" + "script>");
            }
        </script>
    {%/if%}
{%/if%}

{%! Online Opinion %}
{%#if page.vendorFeedback%}
    {%#if content.EqualTo_10%}   {%! if page.vendorFeedback==enable  %}
        <!-- BEGIN: OnlineOpinion
                 * The following code is Copyright 1998-2010 Opinionlab, Inc.
                 * All rights reserved. Unauthorized use is prohibited.
                 * This product and other products of OpinionLab, Inc. are protected by U.S. Patent No. US 6606581, 6421724, 6785717 B1 and other patents pending.
                 * http://www.opinionlab.com -->
        <!--<script language="javascript" type="text/javascript" charset="windows-1252" src="/system/js/vendor/onlineopinionS3tS/oo_engine.min.js">&nbsp;</script>-->
        <script type="text/javascript">
            if (typeof jsl != 'undefined') {
                jsl.add("/system/js/vendor/onlineopinionS3tS/oo_engine.min.js");
                jsl.load();
            } else {
                document.write("<script type=\"text/Javascript\" src=\"/system/js/vendor/onlineopinionS3tS/oo_engine.min.js\"></" + "script>");
            }
        </script>
        <!--<script language="javascript" type="text/javascript" charset="windows-1252" src="/system/js/vendor/onlineopinionS3tS/oo_conf.js"></script>-->
    {%/if%}
{%else%}
    {%#if content.EqualTo_11%}   {%! global.vendorFeedback==enable %}
        <!-- BEGIN: OnlineOpinion
                 * The following code is Copyright 1998-2010 Opinionlab, Inc.
                 * All rights reserved. Unauthorized use is prohibited.
                 * This product and other products of OpinionLab, Inc. are protected by U.S. Patent No. US 6606581, 6421724, 6785717 B1 and other patents pending.
                 * http://www.opinionlab.com -->
        <!--<script language="javascript" type="text/javascript" charset="windows-1252" src="/system/js/vendor/onlineopinionS3tS/oo_engine.min.js">&nbsp;</script>-->
        <script type="text/javascript">
            if (typeof jsl != 'undefined') {
                jsl.add("/system/js/vendor/onlineopinionS3tS/oo_engine.min.js");
                jsl.load();
            } else {
                document.write("<script type=\"text/Javascript\" src=\"/system/js/vendor/onlineopinionS3tS/oo_engine.min.js\"></" + "script>");
            }
        </script>
        <!--<script language="javascript" type="text/javascript" charset="windows-1252" src="/system/js/vendor/onlineopinionS3tS/oo_conf.js"></script>-->
    {%/if%}
{%/if%}

{%! Analytics %}
{%#if page.analyticsTag%}
    {%#if content.EqualTo_16%}   {%! if page.vendorTagging==enable  %}
        <!--Staging -->
        <script type="text/javascript">_satellite.pageBottom();</script>
    {%/if%}
{%else%}
    {%#if content.EqualTo_17%}   {%! global.vendorTagging==enable %}
        <!--Staging -->
        <script type="text/javascript">_satellite.pageBottom();</script>
    {%/if%}
{%/if%}

{%! Global Scripts %}
{%#each global.footerExternalJavascript %}
    {%#if scriptPath%}
        <script src="{%scriptPath%}"></script>
    {%/if%}
{%/each%}
{%#each global.footerExternalCss %}
    {%#if scriptPath%}
        <link rel="stylesheet" src="{%scriptPath%}">
    {%/if%}
{%/each%}
{%#if global.footerJsCode%}
    <script type="text/javascript">{%{global.footerJsCode}%}</script>
{%/if%}
{%#if global.footerCssCode%}
    <style>{%{global.footerCssCode}%}</style>
{%/if%}

{%! Page Scripts %}
{%#each page.footerExternalJavascript %}
    {%#if scriptPath%}
        <script src="{%scriptPath%}"></script>
    {%/if%}
{%/each%}
{%#each page.footerExternalCss %}
    {%#if scriptPath%}
        <link rel="stylesheet" src="{%scriptPath%}">
    {%/if%}
{%/each%}
{%#if page.footerJsCode%}
    <script type="text/javascript">{%{page.footerJsCode}%}</script>
{%/if%}
{%#if page.footerCssCode%}
    <style>{%{page.footerCssCode}%}</style>
{%/if%}