{%!
* ------------------------------------------------------------------------------ *
* FAQ and Video Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="faq-video">
    {%#if content.title%}
    <div class="row wrapper divider-title in_view">
        <div class="divider-title__title border-bottom-sm">{%content.title%}</div>
    </div>
    {%/if%}
    <div class="row wrapper in_view">
        <div class="video-faq video-text--right">
            <div class="video-text__video">
                <div class="video-text__label">{%content.videotitle%}</div>
                <div class="video_container">
                    <div style="display:none"></div>
                    <!-- By use of this code snippet, I agree to the Brightcove Publisher T and C
                    found at https://accounts.brightcove.com/en/terms-and-conditions/. -->
                    {%#if content.EqualTo_0%}
                        {%#if content.brightcovevideoid%}
                            <div class="videoWrapper">
                                <!-- Brightcove Player -->
                                <div style="display: block; position: relative; max-width: 100%;">
                                    <div style="padding-top: 56.25%;">
                                        <video style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"
                                               data-video-id="{%content.brightcovevideoid%}"
                                               data-account="{%content.brightcovevideoaccount%}"
                                               data-player="default"
                                               data-embed="default"
                                               class="video-js"
                                               controls></video>
                                        <script src="//players.brightcove.net/{%content.brightcovevideoaccount%}/default_default/index.min.js"></script>
                                    </div>
                                </div>
                            </div>
                        {%/if%}
                    {%else%}
                        {%#if content.youtubevideoid%}
                            <div class="videoWrapper videoWrapper--youtube">
                                <iframe width="100%" height="100%"
                                        src="https://www.youtube.com/embed/{%content.youtubevideoid%}"></iframe>
                            </div>
                        {%/if%}
                    {%/if%}
                    <!-- This script tag will cause the Brightcove Players defined above it to be created as soon
                    as the line is read by the browser. If you wish to have the player instantiated only after
                    the rest of the HTML is processed and the page load is complete, remove the line. -->
                </div>
            </div>
            <div class="video-text__description metlife-brand-6 hidden-xs">
                {%#if content.videoDuration%}<p class="video_duration hidden-xs">{%content.videoDuration%}</p>{%/if%}
                {%#if content.videodescriptiontitle%}<h2>{%content.videodescriptiontitle%}</h2>{%/if%}
                {%#if content.videodescription%}<h3>{%content.videodescription%}</h3>{%/if%}
            </div>
        </div>
        <div class="video-faq accordion accordion--50">
            <div class="accordion__name pull-left">
                {%#if content.faqtitle%}
                    {%content.faqtitle%}
                {%else%}
                    &nbsp;
                {%/if%}
            </div>
            <a href="{%content.linkurl%}#{%content.viewalltext_value%}" target="{%content.viewall%}"
               class="accordion__link">{%content.linklabel%}</a>
            <div class="clearfix"></div>
            {%#each content.qalist%}
                {%#if question%}
                    <div class="border-top">
                        <div class="accordion__title" id="{%elementId%}">
                            <span class="brand-1st">{%question%}</span>
                            <svg class="icon icon-plus accordion__title__icon pull-right">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/static/images/icons-metlife.svg#icon-plus"></use>
                            </svg>
                            <svg class="icon icon-minus accordion__title__icon accordion__title__icon--hide pull-right">
                                <use xlink:href="/static/images/icons-metlife.svg#icon-minus"></use>
                            </svg>
                        </div>
                        <div class="accordion__content">{%{answer}%}</div>
                    </div>
                {%/if%}
            {%/each%}
        </div>
    </div>
</div>