{%!
* ------------------------------------------------------------------------------ *
* Press Room Archive Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="press-room-archive">
    <div class="row wrapper list-filter news-room">
        <div class="hidden pressroom-default-values-list">
            <div class="default-year" data-year-text="{%content.yearFilterDefault%}"></div>
            <div class="default-month" data-month-text="{%content.monthFilterDefault%}"></div>
            <div class="default-topic" data-topic-text="{%content.topicsFilterDefault%}"></div>
        </div>
        <div class="row">
            <div class="list-filter__item--half">
                <div class="form-item">
                    <div class="form-item__label">
                        <label for="list_year">{%content.yearLabel%}</label>
                    </div>
                    <div class="form-item__field form-icon-wrapper form-item__field--xs">
                    	<svg class="icon">
                        	<use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                        </svg>
                        <select id="list_year">
                        	<option value="" selected>{%content.yearFilterDefault%}</option>
                            {%#each content.childrenList%}
                                <option value="{%this.name%}">{%this.jcrtitle%}</option>
                            {%/each%}
                        </select>
                    </div>
                </div>
            </div>
            <div class="list-filter__item--half">
                <div class="form-item form-item__field--sm">
                    <div class="form-item__label">
                        <label for="list_month">{%content.monthLabel%}</label>
                    </div>
                    <div class="form-item__field form-icon-wrapper form-item__field--md">
                    	<svg class="icon">
                        	<use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                        </svg>
                        <select id="list_month">
                            <option value="" selected>{%content.monthFilterDefault%}</option>
                            {%#each content.month%}
                                <option value="{%this.value%}">{%this.title%}</option>
                            {%/each%}
                        </select>
                        <div class="hidden pressroom-months-list">
                        	{%#each content.month%}
                                <div class="month-item" data-month-value="{%this.value%}" data-month-text="{%this.title%}"></div>
                            {%/each%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-filter__item">
                <div class="form-item">
                    <div class="form-item__label">
                        <label for="list_topics">{%content.topicsLabel%}</label>
                    </div>
                    <div class="form-item__field form-icon-wrapper form-item__field--md form-icon">
                    	<svg class="icon">
                        	<use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                        </svg>
                        <select id="list_topics">
                            <option value="" selected>{%content.topicsFilterDefault%}</option>
                            {%#each content.topics%}
                                <option value="{%this.value%}">{%this.title%}</option>
                            {%/each%}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row wrapper list">
        <div class="lists"
             data-news-url="{% content.path %}.archive.json?"
             data-news-query-parameter=".json"
             data-news-concatenator="."
             data-form-library-msg="all">
            <h2 class="list__title">{%content.title%}</h2>
        </div>
        <div class="results_content"></div>
        <div class="list__item--no-results hidden list__item__tips">
        	{%{content.noResultsMessage}%}
        </div>
    </div>
    <div class="row wrapper divider--load-more">
        <a href="#" class="divider--load-more__link">{%content.loadMoreLabel%}</a>
    </div>
</div>