<div class="countries col-xs-6 col-sm-3 col-lg-3">
    <input type="hidden" id="selected_country" />
    <div class="country_selector_label col-xs-8 col-sm-2 col-lg-3">Country</div>


    <div class="country_selector_container col-xs-4 col-xs-offset-1 col-sm-9">

        <div class="selected">
            <a href="#">
                {%#if global.defaultCountry%}
                <span class="country_flag {%global.defaultCountry%}"></span>

                    {%#if global.defaultLabelCountry%}
	                    <span class="country_name">{%global.defaultLabelCountry%}</span>
                    {%else%}
    	                <span class="country_name">{%global.defaultCountry%}</span>
                    {%/if%}

                {%/if%}
            </a>
        </div>

    </div>



    <div class="country_list_container">


		<!-- America Section -->
        {%#if global.americasLabel%}
         <span class="country_header" href="javascript:void(0);">
                <div class="continent">{%global.americasLabel%} </div>
        </span>
        {%/if%}

        {%#each global.americasCountries%}
            {%#if flag %}
                <a class="country_group" target="_self" data-redirect="{%#if link%}{%link%}{%else%}#{%/if%}" data-country-name="{%flag%}" href="{%#if link%}{%link%}{%else%}#{%/if%}"><span class="country_flag {%flag%}"></span>

                {%#if countryName%}
                	<div class="country_name">{%countryName%}</div>
                {%else%}
                	<div class="country_name">{%flag%}</div>
                {%/if%}


                </a>
            {%/if%}
        {%/each%}

        <!-- Asia Section -->
        {%#if global.asiaLabel%}
         <span class="country_header" href="javascript:void(0);">
                <div class="continent">{%global.asiaLabel%} </div>
        </span>
        {%/if%}

        {%#each global.asiaCountries%}
            {%#if flag %}
                <a class="country_group" target="_self" data-redirect="{%#if link%}{%link%}{%else%}#{%/if%}" data-country-name="{%flag%}" href="{%#if link%}{%link%}{%else%}#{%/if%}"><span class="country_flag {%flag%}"></span>
                    {%#if countryName%}
                		<div class="country_name">{%countryName%}</div>
                    {%else%}
                    	<div class="country_name">{%flag%}</div>
                    {%/if%}
                </a>
            {%/if%}
        {%/each%}


	 	<!-- Europe Section -->
        {%#if global.europeLabel%}
         <span class="country_header" href="javascript:void(0);">
                <div class="continent">{%global.europeLabel%} </div>
        </span>
        {%/if%}

        {%#each global.europeCountries%}
            {%#if flag %}
                <a class="country_group" target="_self" data-redirect="{%#if link%}{%link%}{%else%}#{%/if%}" data-country-name="{%flag%}" href="{%#if link%}{%link%}{%else%}#{%/if%}"><span class="country_flag {%flag%}"></span>
                    {%#if countryName%}
                		<div class="country_name">{%countryName%}</div>
                	{%else%}
                		<div class="country_name">{%flag%}</div>
                	{%/if%}
                </a>
            {%/if%}
        {%/each%}



        <!-- Middle East AndA frica Section -->
        {%#if global.middleEastAndAfricaLabel%}
         <span class="country_header" href="javascript:void(0);">
                <div class="continent">{%global.middleEastAndAfricaLabel%} </div>
        </span>
        {%/if%}

        {%#each global.middleEastAndAfricaCountries%}
            {%#if flag %}
                <a class="country_group" target="_self" data-redirect="{%#if link%}{%link%}{%else%}#{%/if%}" data-country-name="{%flag%}" href="{%#if link%}{%link%}{%else%}#{%/if%}"><span class="country_flag {%flag%}"></span>
                    {%#if countryName%}
                		<div class="country_name">{%countryName%}</div>
                	{%else%}
                		<div class="country_name">{%flag%}</div>
                	{%/if%}
                </a>
            {%/if%}
        {%/each%}


    </div>
    <!--End Country Widget -->
</div> 





