{%!
* ------------------------------------------------------------------------------ *
* Microsite Detail Page - Disclaimer
* ------------------------------------------------------------------------------ *
%}

{%#if content.EqualTo_0%}
    {%#include "disclaimer" as="metlifeMicrosites/components/section/microsite-disclaimer"%}{%/include%}
{%else%}
	{%#if content.EqualTo_1%}
    	{%#unless page.hideDisclaimer%}
			{%#include "disclaimer" as="metlifeMicrosites/components/section/microsite-disclaimer"%}{%/include%}
        {%/unless%}
	{%/if%}
    {%#if content.EqualTo_2%}
    	{%#unless page.hideDisclaimer%}
			{%#include "disclaimer" as="metlifeMicrosites/components/section/microsite-disclaimer"%}{%/include%}
        {%/unless%}
	{%/if%}
{%/if%}