{%#if content.enableComp %}
    <p>{% content.title %} </p>
    <div class="btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn_fax_select">
                {% content.officeLabel %}
            </button>
            <img class="btn_select_arrow"
                 src="/static/images/Find_X/icon_arrowDown_ForFindAnX.png" alt="Find_X Arrow">
        </div>
        {%#if content.enableDentist %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn_fax_select">
                {% content.dentistLabel %}
            </button>
            <img class="btn_select_arrow"
                 src="/static/images/Find_X/icon_arrowDown_ForFindAnX.png" alt="Find_X Arrow">
        </div>
        {%/if %}
        {%#if content.enableVision %}
        <div class="btn-group" role="group">
            <button type="button" class="btn btn_fax_select">
                {% content.visionProvLabel %}
            </button>
            <img class="btn_select_arrow"
                 src="/static/images/Find_X/icon_arrowDown_ForFindAnX.png" alt="Find_X Arrow">
        </div>
        {%/if %}
    </div>

    <div class="find_an_x_wrap find_x_wrap hidden">

            <div class="select_wrapper cta_wrapper">
                <input class="find_an_x_input find_x_location1 gmaps-auto-complete" type="text"
                       placeholder="{%content.officePlaceholder%} "
                       name="find_an_x_location" required="required">
                <a href="#" class="geo_location_image">
                    <img class="location_search_image hidden-lg"
                         src="/static/images/related_info/icon_location.png" alt="Location Icon">
                </a>
            </div>
            <div class="errorSpan error_zip_code hidden">
                <img class="error_arrow_img" src="/static/images/form/icon_form_error_up_arrow.png"
                     alt="Arrow Image">
                <img class="errorSpanImg" src="/static/images/form/icon_form_error.png" alt="">

                <p>{% content.zipError %} </p>
            </div>
            <button id="ctaHeaderFAX1" class="btn-green directions_button" data-href="{%content.officeLink%}" target="_self">{% content.submitLabel %}</button>
    </div>
    {%#if content.enableDentist %}
    <div class="find_an_x_wrap find_x_wrap hidden">

        <div class="select_wrapper cta_wrapper">
            <input class="find_an_x_input find_x_location2 gmaps-auto-complete" type="text"
                   placeholder="{%content.dentistPlaceholder%}"
                   name="find_an_x_location" required="required">
            <a href="#" class="geo_location_image">
                <img class="location_search_image hidden-lg"
                     src="/static/images/related_info/icon_location.png" alt="Location Icon">
            </a>
        </div>
        <div class="errorSpan error_zip_code hidden">0
            <img class="error_arrow_img" src="/static/images/form/icon_form_error_up_arrow.png"
                 alt="Arrow Image">
            <img class="errorSpanImg" src="/static/images/form/icon_form_error.png" alt="">

            <p>{% content.zipError %} </p>
        </div>
        <div class="select_wrapper dental_vision_wrap">
            <select id="select_dentist_network">
                <option selected="selected" value="">{% content.networkPlaceholder %} </option>
                {%content.networkOptions%}
                {%#each content.networkOptions %}
                    <option value="{% this.value %} ">{% this.title %} </option>
                {%/each%}

            </select>
        </div>
        <input type="submit" id="ctaHeaderFAX2" class="btn-green" value="{% content.submitLabel %} ">
        <a href="#" class="dentist_overlay_link">{% content.overlayLabel %} </a>

    </div>
    {%/if%}
    {%#if content.enableVision %}
        <div class="find_an_x_wrap find_x_wrap hidden">

            <div class="select_wrapper cta_wrapper">
                <input class="find_an_x_input find_x_location3 gmaps-auto-complete" type="text"
                       placeholder="{%content.visionPlaceholder%}"
                       name="find_an_x_location" required="required">
                <a href="#" class="geo_location_image">
                    <img class="location_search_image hidden-lg"
                         src="/static/images/related_info/icon_location.png" alt="Location Icon">
                </a>
            </div>
            <div class="errorSpan error_zip_code hidden">
                <img class="error_arrow_img" src="/static/images/form/icon_form_error_up_arrow.png"
                     alt="Arrow Image">
                <img class="errorSpanImg" src="/static/images/form/icon_form_error.png" alt="">

                <p>{% content.zipError %} </p>
            </div>
            <div class="select_wrapper dental_vision_wrap">
                <select id="select_vision_provider">
                    <option selected="selected" value="" disabled>{% content.planPlaceholder %} </option>
                    {%#each content.planOptions %}
                     <option value="{% this.value %} ">{% this.title %} </option>
                    {%/each%}
                </select>
            </div>
            <input type="submit" id="ctaHeaderFAX3" class="btn-green" value="{% content.submitLabel %} ">
            <a href="#" class="vision_overlay_link">{% content.overlayLabel %} </a>

        </div>
    {%/if%}
    <div class="clearfix"></div>
{%else%}
    {%#if page.isEditOrDesignMode %}
    <div class="col-xs-12 cta_header_find_x">
        <p> Component Find a X disabled</p>
    </div>
    {%/if%}

{%/if%}
