{%!
* ------------------------------------------------------------------------------ *
* Contact Advisory Container Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st contact-form-card-wrapper" data-comp-spacing="contact-form-card">
	<div class="row wrapper form-card in_view">
        <div class="form-card__img">
        	<div class="form-card__img__inner" style="background-size:cover;background-position:center center;background-image: url('{% content.imagePath %}');"></div>
            <div class="form-card__img__text white">
                <h3>{%content.titleImage%}</h3>
                <p>
                    {%content.descriptionImage%}
                </p>
            </div>
        </div>
        <div class="contact-container contact-container--form-card">
            {%#include "contact-advisory" as="MetlifeApp/components/section/forms/contact-advisory-form"%}{%/include%}
        </div>
    </div>
</div>