{%!
* ------------------------------------------------------------------------------ *
* Press Article Contact Container Component
* ------------------------------------------------------------------------------ *
%}

{%#if content.contactLabel%}
<div class="container" data-comp-spacing="pressroom-contact">
    <div class="row wrapper">
        <div class="wrapper--news-article contact-item">
            <h3 class="pressroom-contact__title">{%content.contactLabel%}</h3>
			{%#with content.cnt1ResourcePropertiescontact%}
            	{%> contact %}
            {%/with%}
           	{%#with content.cnt2ResourcePropertiescontact%}
            	{%> contact %}
            {%/with%}
            {%#with content.cnt3ResourcePropertiescontact%}
            	{%> contact %}
            {%/with%}
            {%#with content.cnt4ResourcePropertiescontact%}
            	{%> contact %}
			{%/with%}
        </div>
    </div>
</div>
{%/if%}