<div>
    <a href="{% content.link %}">
        {%#if content.imagePath %}

        <img src="{% content.imagePath %}"
             data-src="{% content.imagePath %}"
             alt="{% content.buttonText %} Image" class="lazy" />
        <noscript>
            <img src="{% content.imagePath %}"
                 alt="{% content.buttonText %}  Image" />
        </noscript>
        {%/if%}
    </a>

    <a href="{% content.link %}" >{% content.buttonText %} {%#if content.secondLineText %} <br> {% content.secondLineText %}  {%/if%}</a>
</div>