<div class="subcat-image-top"
                         style="background-image: url({%content.imagePath%}); background-size: cover;">
</div>
<div class="subcat-image-text">
    <div>
        <div class="promo-headline"><a href="{%content.link%}">{% content.headline %} </a></div>
        <h2>{% content.subheader %} </h2>
        <p>
           {% content.description %} </p>
    </div>
    <div>
        {%# if content.buttonText%}
        <a class="btn-blue">{% content.buttonText %} </a>
        {%/if%}
    </div>
</div>