<!--Begin Monthly Rate Table-->
<div class="container bg-gray-1st">
    <div class="row wrapper">

        <div class="monthly_rates clearfix text-center">
            <div class="table-title">{%content.title%}</div>

            <div class="expanded clearfix">
                <!-- Begin Component -->
                <div class="comparison-table-layout">

					{%#if content.lefttablepreview%}
                    <div class="comparison-table">
                        <h2>{%#if content.titleleft%}{%content.titleleft%}{%else%}&nbsp;{%/if%}</h2>

                        <div class="rate_table clearfix">
                            <div class="content col-xs-12 col-sm-12 col-lg-12">
                                <div class="content_corner">
                                    <div class="content_container">
                                        <table class="content_table"></table>
                                    </div>
                                </div>
                                <div class="content_top">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_left">
                                    <div class="content_container">
                                        <table class="content_table table-striped"></table>
                                    </div>
                                </div>
                                <div class="content_body">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table table-striped"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_temp">
                                {%{content.lefttablepreview}%}
                                </div>
                            </div>
                            <div class="controls col-xs-12 col-sm-12 col-lg-12">
                                <ol class="carousel-indicators"></ol>
                            </div>
                        </div>
                    </div>
					{%/if%}
                    {%#if content.righttablepreview%}
                    <div class="comparison-table">
                        <h2>{%#if content.titleright%}{%content.titleright%}{%else%}&nbsp;{%/if%}</h2>

                        <div class="rate_table clearfix">
                            <div class="content col-xs-12 col-sm-12 col-lg-12">
                                <div class="content_corner">
                                    <div class="content_container">
                                        <table class="content_table"></table>
                                    </div>
                                </div>
                                <div class="content_top">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_left">
                                    <div class="content_container">
                                        <table class="content_table table-striped"></table>
                                    </div>
                                </div>
                                <div class="content_body">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table table-striped"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_temp">
                                {%{content.righttablepreview}%}
                                </div>
                            </div>
                            <div class="controls col-xs-12 col-sm-12 col-lg-12">
                                <ol class="carousel-indicators"></ol>
                            </div>
                        </div>
                    </div>
                    {%/if%}
                </div>
                <!-- End Component -->
            </div>
            <div class="unexpanded clearfix">
                <!-- Begin Component -->
                {%#if content.or_lefttable_TableCSV_0%}
                <div class="overlay-table-layout">
                    <div class="overlay-table">
                        <h2>{%#if content.titleleft%}{%content.titleleft%}{%else%}&nbsp;{%/if%}</h2>

                        <div class="rate_table clearfix">
                            <div class="content">
                                <div class="content_corner">
                                    <div class="content_container">
                                        <table class="content_table"></table>
                                    </div>
                                </div>
                                <div class="content_top">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_left">
                                    <div class="content_container">
                                        <table class="content_table table-striped"></table>
                                    </div>
                                </div>
                                <div class="content_body">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table table-striped"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_temp">
                                    {%#if content.TableCSV_0%}
									<table>
                                    	<tbody>
                                        {%#each content.TableCSV_0%}
     										{%#each this%}
                                            <tr>
                                            	{%#each this%}
												<td>{%this%}</td>
                                                {%/each%}
                                            </tr>
     										{%/each%}
										{%/each%}
                                        </tbody>
                                    </table>
                                {%else%}
                                {%{content.lefttable}%}
                                {%/if%}
                                </div>
                            </div>
                            <div class="controls col-xs-12 col-sm-12 col-lg-12">
                                <ol class="carousel-indicators"></ol>
                            </div>
                        </div>
                    </div>
                </div>
                {%/if%}
                <!-- End Component -->
                <!-- Begin Component -->
                {%#if content.or_righttable_TableCSV_1%}
                <div class="overlay-table-layout">
                    <div class="overlay-table">
                        <h2>{%#if content.titleright%}{%content.titleright%}{%else%}&nbsp;{%/if%}</h2>

                        <div class="rate_table clearfix">
                            <div class="content">
                                <div class="content_corner">
                                    <div class="content_container">
                                        <table class="content_table"></table>
                                    </div>
                                </div>
                                <div class="content_top">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_left">
                                    <div class="content_container">
                                        <table class="content_table table-striped"></table>
                                    </div>
                                </div>
                                <div class="content_body">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table table-striped"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_temp">
                                   {%#if content.TableCSV_1%}
									<table>
                                    	<tbody>
                                        {%#each content.TableCSV_1%}
     										{%#each this%}
                                            <tr>
                                            	{%#each this%}
												<td>{%this%}</td>
                                                {%/each%}
                                            </tr>
     										{%/each%}
										{%/each%}
                                        </tbody>
                                    </table>
                                {%else%}
                                {%{content.righttable}%}
                                {%/if%}
                                </div>
                            </div>
                            <div class="controls">
                                <ol class="carousel-indicators"></ol>
                            </div>
                        </div>
                    </div>
                </div>
                {%/if%}
                <!-- End Component -->
            </div>
            <div class="expand_button">
                <div class="expand_button_open">
                    <div>
                        <span>
                            <svg class="icon icon-arrow-down">
                                <use xlink:href="/static/images/icons-metlife.svg#icon-arrow-down"></use>
                            </svg>
                        </span>
                        <span>{%content.buttontext%}</span>
                    </div>
                </div>
                <div class="expand_button_close hidden">
                    <div>
                        <span>
                            <svg class="icon icon-arrow-up">
                                <use xlink:href="/static/images/icons-metlife.svg#icon-arrow-up"></use>
                            </svg>
                        </span>
                        <span>{%content.buttonclosetext%}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>