{%!
* ------------------------------------------------------------------------------ *
* Monthly Rates Component - Modal Table
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="general-content">
    <div class="row wrapper general-content">
		<div class="generic_content text-center clearfix">
		    <div class="expanded clearfix">
		    	<div class="container" data-comp-spacing="generic-table">
                    <div class="row wrapper">
				    	<div class="table-title">{%content.title%}</div>
				        <div class="comparison-table-layout">
							{%#if content.lefttablepreview%}
					            <div class="comparison-table">
					                <h2>{%#if content.titleleft%}{%content.titleleft%}{%else%}&nbsp;{%/if%}</h2>
					                <div class="rate_table clearfix">
					                    <div class="content col-xs-12 col-sm-12 col-lg-12">
					                        <div class="content_corner">
					                            <div class="content_container">
					                                <table class="content_table"></table>
					                            </div>
					                        </div>
					                        <div class="content_top">
					                            <div class="content_container">
					                                <div class="window">
					                                    <table class="content_table"></table>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="content_left">
					                            <div class="content_container">
					                                <table class="content_table table-striped"></table>
					                            </div>
					                        </div>
					                        <div class="content_body">
					                            <div class="content_container">
					                                <div class="window">
					                                    <table class="content_table table-striped"></table>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="content_temp">
					                                {%{content.lefttablepreview}%}
					                        </div>
					                    </div>
					                    <div class="controls col-xs-12 col-sm-12 col-lg-12">
					                        <ol class="carousel-indicators"></ol>
					                    </div>
					                </div>
					            </div>
				            {%/if%}
				            {%#if content.righttablepreview%}
					            <div class="comparison-table">
					                <h2>{%#if content.titleright%}{%content.titleright%}{%else%}&nbsp;{%/if%}</h2>
					                <div class="rate_table clearfix">
					                    <div class="content col-xs-12 col-sm-12 col-lg-12">
					                        <div class="content_corner">
					                            <div class="content_container">
					                                <table class="content_table"></table>
					                            </div>
					                        </div>
					                        <div class="content_top">
					                            <div class="content_container">
					                                <div class="window">
					                                    <table class="content_table"></table>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="content_left">
					                            <div class="content_container">
					                                <table class="content_table table-striped"></table>
					                            </div>
					                        </div>
					                        <div class="content_body">
					                            <div class="content_container">
					                                <div class="window">
					                                    <table class="content_table table-striped"></table>
					                                </div>
					                            </div>
					                        </div>
					                        <div class="content_temp">
					                                {%{content.righttablepreview}%}
					                        </div>
					                    </div>
					                    <div class="controls col-xs-12 col-sm-12 col-lg-12">
					                        <ol class="carousel-indicators"></ol>
					                    </div>
					                </div>
					            </div>
				            {%/if%}
				        </div>
				    </div>
			    </div>
			    <div class="text-center">
				    <div class="view-all-rates rate-overlay-trigger" data-target="view-all-rates-overlay">{%content.buttontext%}</div>
				</div>
		    </div>
		</div>
    </div>
</div>

<div class="container rates-overlay view-all-rates-overlay">
    <div class="row wrapper">
        <div class="container ">
            <div class="view-close">
                <svg class="icon icon-close brand-gray-1st">
                    <use xlink:href="/static/images/icons-metlife.svg#icon-close"></use>
                </svg>
            </div>
            <div class="view-header bg-gray-1st">
                <h2>{%content.title%}</h2>
            </div>
            <div class="view-nav bg-gray-1st text-center">
                <ul class="">
                	{%#if content.or_lefttable_TableCSV_0%}
                    <li class="active">{%content.titleleft%}</li>
                    {%else%}
                    &nbsp;
                    {%/if%}
                    {%#if content.or_righttable_TableCSV_1%}
                    <li>{%content.titleright%}</li>
                    {%else%}
                    &nbsp;
                    {%/if%}
                </ul>
            </div>
            <div class="view-content bg-white">
            	{%#if content.or_lefttable_TableCSV_0%}
                <div class="overlay-table-layout active">
                    <div class="overlay-table">
                        <div class="rate_table clearfix">
                            <div class="content col-xs-12 col-sm-12 col-lg-12">
                                <div class="content_corner">
                                    <div class="content_container">
                                        <table class="content_table"></table>
                                    </div>
                                </div>
                                <div class="content_top">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_left">
                                    <div class="content_container">
                                        <table class="content_table table-striped"></table>
                                    </div>
                                </div>
                                <div class="content_body">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table table-striped"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_temp">
                                    {%#if content.TableCSV_0%}
									<table>
                                    	<tbody>
                                        {%#each content.TableCSV_0%}
     										{%#each this%}
                                            <tr>
                                            	{%#each this%}
												<td>{%this%}</td>
                                                {%/each%}
                                            </tr>
     										{%/each%}
										{%/each%}
                                        </tbody>
                                    </table>
                                {%else%}
                                {%{content.lefttable}%}
                                {%/if%}
                                </div>
                            </div>
                            <div class="controls col-xs-12 col-sm-12 col-lg-12">
                                <ol class="carousel-indicators"></ol>
                            </div>
                        </div>
                    </div>
                </div>
                {%/if%}
                {%#if content.or_righttable_TableCSV_1%}
                <div class="overlay-table-layout {%#unless content.or_lefttable_TableCSV_0%}active{%/unless%}">
                    <div class="overlay-table">
                        <div class="rate_table clearfix">
                            <div class="content col-xs-12 col-sm-12 col-lg-12">
                                <div class="content_corner">
                                    <div class="content_container">
                                        <table class="content_table"></table>
                                    </div>
                                </div>
                                <div class="content_top">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_left">
                                    <div class="content_container">
                                        <table class="content_table table-striped"></table>
                                    </div>
                                </div>
                                <div class="content_body">
                                    <div class="content_container">
                                        <div class="window">
                                            <table class="content_table table-striped"></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="content_temp">
                                    {%#if content.TableCSV_1%}
									<table>
                                    	<tbody>
                                        {%#each content.TableCSV_1%}
     										{%#each this%}
                                            <tr>
                                            	{%#each this%}
												<td>{%this%}</td>
                                                {%/each%}
                                            </tr>
     										{%/each%}
										{%/each%}
                                        </tbody>
                                    </table>
                                {%else%}
                                {%{content.righttable}%}
                                {%/if%}
                                </div>
                            </div>
                            <div class="controls col-xs-12 col-sm-12 col-lg-12">
                                <ol class="carousel-indicators"></ol>
                            </div>
                        </div>
                    </div>
                </div>
                {%/if%}
            </div>
        </div>
    </div>
</div>