<!-- Content Section Header Begin -->
<div class="container-fluid white_background_container searchable searchable">
    <div class="row">
        <div class="col col-lg-12">
            <!-- Component Begin -->
            <div class="container">
                <div class="section-header">
                    <h1 class="header">{%content.sectionHeader%}</h1>

                    {%#each content.contactlist%}
                        {%#if name%}
                        <div class="contact">
                            <b>{%name%}</b>

                            <p> {%add1%}</p>

                            <p> {%add2%}</p>

                            <p> {%add3%}</p>

                            <p class="telephone">{%telLabel%}</p><b><a href="tel:{%telNumber%}">{%telNumber%}</a></b>
                        </div>
                        {%/if%}
                    {%/each%}

                </div>
            </div>

            <!-- Component Begin -->
        </div>
    </div>
</div>
<!-- Content Section Header End -->