{%!
* ------------------------------------------------------------------------------ *
* Microsite - Section Header Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="sec-header">
	<div class="row wrapper">
	    <div class="section-header">
	        <h2 class="text-center">{% content.header %}</h2>
	        <div class="section-bullets clearfix">
	        {%#each content.columnLinks%}
	            <ul>
	            {%#each links%}
	            	<li>{%label%}</li>
	            {%/each%}
	            </ul>
	        {%/each%}
	        </div>
	        {%{content.bottomText}%}
	    </div>
	</div>
</div>