{%!
* ------------------------------------------------------------------------------ *
* Campaign Page Title
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="campaign-page-titles">
	<h1 class="campaign-card-content-title">{%content.pagetitle%}</h1>
	{%#if content.pagenumberPhone%}
		<a href="tel:+{%content.pagenumberPhone%}" class="campaign-card-content-title campaign-tel">{%content.pagenumberPhone%}</a>
	{%/if%}
	<h2 class="text-bold campaign-card-content__subtitle">{%content.pagesubtitle%}</h2>
</div>
