{%!
* ------------------------------------------------------------------------------ *
* Glossary Letter List Component
* ------------------------------------------------------------------------------ *
%}

{%#if content.lettersList%}
<div class="glossary-selector">
    <div class="selector">
        <div class="row wrapper selector-container">
            <div class="width-80 selector-letters letter">
                {%#each content.lettersList%}
                    <a class="inline-block" href="#" data-letters="{% this %}">{% this %}</a>
                {%/each%}
            </div>
        </div>
    </div>
</div>
{%/if%}