{%!
* Glossary Letters List Component
* ----------------------------------------------------------------------------- *
* CHANGE HISTORY
* -----------------------------------------------------------------------------
* Version | Date       | Developer              | Changes
* 1.0     | 2016/07/19 | Sergio Torres          | Initial Creation
* ----------------------------------------------------------------------------- *
%}
<!-- Glossary Selector Begin -->
{%#if content.lettersList%}
<div class="glossary-selector">
    <div class="selector">
        <div class="selector-container">
            <div class="selector-letters letter">
                {%#each content.lettersList%}
                    <a class="inline-block" href="#" data-letters="{% this %}">{% this %}</a>
                {%/each%}
            </div>
        </div>
    </div>
</div>
{%/if%}
<!-- Glossary Selector End -->