<!--Begin Generic Content-->

<div class="container">
	<div class="row wrapper">
		<div class="generic_content clearfix text-center">
            <div class="wrapper-general">
            	<div class="expanded clearfix">
					{%#include "expanded" as="foundation/components/parsys"%}{%/include%}
                </div>
                {%#if content.enableExpandContent%}

                    <div class="unexpanded clearfix">
                        {%#include "unexpanded" as="foundation/components/parsys"%}{%/include%}
                    </div>

				{%/if%}
			</div>
           	 {%#if content.enableExpandContent%}

			<div class="expand_button">
				<div class="expand_button_open">
					<div>
						<span>
							<svg class="icon icon-arrow-down">
								<use xlink:href="/static/images/icons-metlife.svg#icon-arrow-down"></use>
							</svg>
						</span>
						<span>{%content.expandLinkLabel%}</span>
					</div>
				</div>
				<div class="expand_button_close hidden">
					<div>
						<span>
							<svg class="icon icon-arrow-up">
								<use xlink:href="/static/images/icons-metlife.svg#icon-arrow-up"></use>
							</svg>
						</span>
					<span>{%content.collapseLinkLabel%}</span>
					</div>
				</div>
			</div>
            	{%/if%}

		</div>
	</div>
</div>
