{%!
* ------------------------------------------------------------------------------ *
* Campaign Header Login Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st">
	<div class="row wrapper campaign-header-login">
    	{%#if content.enableCampaignLogin%}
            <a href="{%content.loginURL%}" target="{%content.loginTarget%}">
                <span>{%#if content.loginLabel%}{%content.loginLabel%}{%else%}Login{%/if%}</span>
                <svg class="icon icon-secure-locked ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/images/icons-metlife.svg#icon-secure-locked"></use>
                </svg>
            </a>
        {%/if%}
 	</div>
</div>