{%!
* ------------------------------------------------------------------------------ *
* Promo Tile Component - Right Banner Large
* ------------------------------------------------------------------------------ *
%}

<div class="product-row__tile--img-tile__text {%#if content.left %} pull-right {%/if%}">
    <div class="product-row__tile--img-tile__text--left">
        <div class="product-row__tile__promo white">{%content.headline%}
        </div>
        <p class="white">{%content.description%}</p>
    </div>
    <div  class="product-row__tile--img-tile__text--right">
        {%#if content.buttonText%}
            <a href="{%content.link%}" 
            	class="btn-brand-2nd table" 
                id="{%content.linkId%}RightLarge"
                target="{%content.target%}">{%content.buttonText%}</a>
        {%/if%}

    </div>
</div>
<div class="product-row__tile__img-tile__img {%#if content.left %}product-row__tile__img-tile__img__left{%/if%}"
     style="background-image: url({%content.imagePath%}); ">
</div>
