{%!
* ------------------------------------------------------------------------------ *
* Find an X (Office Search) Box Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st office-search-wrapper" data-comp-spacing="office-search">
    <div class="row wrapper in_view">
        <div class="office-search">
            <span class="office-search__icon">
                <svg class="icon icon-blue-map brand-1st">
                    <use xlink:href="/static/images/icons-metlife.svg#icon-blue-map"></use>
                </svg>
           	</span>
            <p class="office-search__label">{%content.title%}</p>
            <input class="office-search__input" type="text" placeholder="{%content.placeholder%}" data-required="true" aria-required="true">
            <a href="#" 
            	id="{%content.buttonLabelId%}" 
                class="btn-brand-4th office-search__action js-SearchBox" 
                target="{%content.target%}"
            	data-href="{%content.linkToResults%}" 
            	data-fao-market="us">{%content.buttonLabel%}</a>
       </div>
    </div>
</div>