{%!
* ------------------------------------------------------------------------------ *
* Microsite - Banner Carousel
* ------------------------------------------------------------------------------ *
%}

<div id="carouselMicrosite" class="carousel slide carousel--microsite" data-ride="carousel" data-interval="{% content.numberMultiplied %}">
    {%#if content.homeSliderLinks %}
        <div class="carousel-inner" role="listbox">
            {%#each content.homeSliderLinks %}
                <div class="item {%#if @first%}active{%/if%} item--microsite">
                    <img src="{% homeSliderImageSpooled.original %}"
                         alt="{% altText %}">
                </div>
            {%/each%}
            <div class="carousel-caption carousel-caption--bottom">
                <ol class="carousel-indicators carousel-indicators--visible">
                    {%#each content.homeSliderLinks %}
                    <li data-target="#carouselMicrosite" data-slide-to="{% @index %}" class="{%#if @first%}active{%/if%}"></li>
                    {%/each%}
                </ol>
                <h2>{% content.firstLineImageCaption %}</h2>
                <h3>{% content.secondLineImageCaption %}</h3>
            </div>
        </div>
    {%else%}
        <img class="cq-carousel-placeholder cq-block-lg-placeholder" src="/etc/designs/default/0.gif" alt="Empty Carousel" />
    {%/if%}
    <a class="left carousel-control hidden-xs" href="#carouselMicrosite" role="button" data-slide="prev">
        <svg class="icon">
            <use xlink:href="/static/images/icons-metlife.svg#icon-prev"></use>
        </svg>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control hidden-xs" href="#carouselMicrosite" role="button" data-slide="next">
        <svg class="icon">
            <use xlink:href="/static/images/icons-metlife.svg#icon-next"></use>
        </svg>
        <span class="sr-only">Next</span>
    </a>
</div>