{%#include "subnav" as="MetlifeApp/components/section/subcategory-subnav"%}{%/include%}

<!-- Bread Crumb Begin -->
<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-12">
            <!-- Component Begin -->
            {%#include "bread-crumb" as="MetlifeApp/components/section/bread-crumb"%}{%/include%}
            <!-- Component End -->
        </div>
    </div>
</div>
<!-- Bread Crumb End -->

<!--Begin Page Title-->
<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <!--Begin Page Title Component-->
            <div class="page_title ">
                <h1>{%page.title%}</h1>

                <p>{%page.subtitle%}</p>
            </div>
            <!--End Page Title Component-->
        </div>
    </div>
</div>
<!-- End Page Title-->


<!-- SubCategory Product Card Begin -->
<div class="container in_view">
    <div class="row">
        <div class="col col-lg-12">
            {%#include "product-card-parsys" as="foundation/components/parsys"%}{%/include%}
        </div>
    </div>
</div>
<!-- subCategory Product Card End -->
{%#include "content-parsys" as="foundation/components/parsys"%}{%/include%}


<!-- Contact A Rep Lead Form with Image Begin -->
{%#include "contact-with-image" as="MetlifeApp/components/section/forms/contact-with-image-form"%}{%/include%}
<!-- Contact A Rep Lead Form with Image Begin -->

<!-- Begin Disclaimer-->
<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <!-- Component Begin -->
            {%#include "disclaimer" as="MetlifeApp/components/section/disclaimer"%}{%/include%}
            <!-- Component End -->
        </div>
    </div>
</div>
<!-- End Disclaimer-->

