{%!
* ------------------------------------------------------------------------------ *
* Campaign Page Template
* ------------------------------------------------------------------------------ *
%}

{%! Campaign Login %}
{%#include "login" as="metlifeCampaigns/components/section/login"%}{%/include%}

{%! Campaign Container %}
{%#include "campaign-container" as="metlifeCampaigns/components/section/campaign-container"%}{%/include%}


{%! Disclaimer %}
{%#if content.EqualTo_0%}
    {%#include "disclaimer" as="metlifeCampaigns/components/section/disclaimer"%}{%/include%}
{%else%}
    {%#if content.EqualTo_1%}
        {%#if global.enableLegalDisclaimer%}
            {%#include "disclaimer" as="metlifeCampaigns/components/section/disclaimer"%}{%/include%}
        {%/if%}
    {%/if%}
{%/if%}