
.xk-placeholder {
    background:#DDD;
    border: 2px solid #A2A0A0;
    color:#2377C5;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 10px;
}

/**
Subcategory Tile Container

**/
.subcategory-tile-container.xk-placeholder {
    height: 350px;
}
/**
Disclaimer
**/
.disclaimer.xk-placeholder {
    padding: 10px;
    height: 55px;
}
.disclaimer.xk-placeholder:before {
	content: 'Empty Disclaimer';
}

/**
Subcategory Tile Container
*/

.subcategory-tile-container.xk-placeholder:before {
    content: 'Empty Subcategory Tile Container';
}


/**
language-selector
*/
.language-selector.xk-placeholder:before {
    content: 'Language Selector';
}

/**
	faq-video
**/
.faq-video.xk-placeholder:before {
    content: 'FAQ & Video ';
	font-size: 28px;
	height: 350px;
}

/**
	Product Comparison Table
**/
.product-comparison-table.xk-placeholder:before {
    content: 'Product Comparison Table';
	font-size: 28px;
	height: 350px;
}

/**
Video
*/
.newsroom-video.xk-placeholder:before {
    content: 'Empty Newsroom Video';
    font-size: 16px;
    margin: 0 auto;


}
.newsroom-video.xk-placeholder {
    height: 150px;
}



/**
Content Parsys: Category, Subcategory templates
**/
.cq-wcm-edit .content-parsys > .cq-editbar-placeholder{
    margin-top: 20px !important;
    width: 85% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left:15px !important;
    padding-right: 15px !important;
    display:block;
}


/**
    Banner
**/
.cq-wcm-edit .section .subcategory-image-product-card {
    margin-bottom: 40px;

}
.banner.xk-placeholder {
    min-height: 150px;
    margin-top:20px;
}

.banner.xk-placeholder:before {
    content: 'Empty Banner';
}

/**
    Tile Container
*/
.tile-container.xk-placeholder {
    height: 150px;
    margin-bottom:20px;
}
.tile-container.xk-placeholder:before {
    content: 'Empty Tile Container';
}

@media (max-width: 768px) {
    .cq-wcm-edit .xk-tile-container-last-tile{
        margin-right: 10px !important;
    }
}


@media (min-width: 769px) {
    .cq-wcm-edit .xk-tile-container-last-tile{
        margin-right: 0px !important;
    }

}


/**
Product Tile
**/
.product-tile.xk-placeholder:before {
    content: 'Empty Product Tile';
}

/**
    Subcategory Tile
*/
.subcategory-tile.xk-placeholder:before {
    content: 'Empty Tile';
}
/**
Banner 2x
*/
.banner2x.xk-placeholder:before {
    content: 'Empty Banner';
    color: #FFFFFF;
}

/**
    Hide edit bars when mega menu is open
*/

.global_header, .megaMenu {
    z-index: 8500 !important;
}
.contactSliderOuterCon {
    z-index: 8501 !important;
}
/**
Category Banner
**/
.category-banner.xk-placeholder:before {
    content: 'Empty Banner';
}
.category-banner.xk-placeholder{
    margin-top:20px;
    min-height: 150px;
}

/**
    Medium Product Container
*/
.medium-product-container.xk-placeholder:before {
    content: 'Empty Medium Product Container';
}
.medium-product-container.xk-placeholder{
    min-height: 150px;
}
.cq-wcm-edit .medium_product_module_wrapper > div[class*='cq-placeholder'] {
    display: none;
    border: none !important;
    width: 0px;
}

.cq-wcm-edit .product-module > div[class*='cq-placeholder'] {
    display: none;
    border: none !important;
    width: 0px;
}

.cq-wcm-edit .medium_product_module_wrapper{
    margin-top: 0px !important;

}

/**
Medium Product Card
**/

.medium-product-card.xk-placeholder:before {
    content: 'Empty Medium Product Card';
}
.medium-product-card.xk-placeholder {
    content: 'Empty Medium Product Card';
    border : none
}

/**
Subcategory Product Card Parsys
**/
.cq-wcm-edit .product-card-parsys-before{
    margin-top:20px;
    background:#DDD;
    color:#2377C5;
    width: 100%;
    font-weight: bold;
    display:block;

}
.cq-wcm-edit .product-card-parsys:before{
    content: 'Product Card Parsys Starts';
    background:#DDD;
    color:#2377C5;
    width: 100%;
    font-weight: bold;
    display:block;
    line-height:20px;
    margin-bottom:5px;
    height: 21px;
}
.cq-wcm-edit .product-card-parsys .new.section{
    margin-top: 20px;
    padding-top: -20px;
    padding-bottom: -40px;

}
.cq-wcm-edit .product-card-parsys .new.section:after{
    content: 'Product Card Parsys Ends';
    line-height:20px;
    background:#DDD;
    color:#2377C5;
    width: 100%;
    font-weight: bold;
    display:block;

}

/**
    Small Product Container
*/
.small-product-container.xk-placeholder:before {
    content: 'Empty Small Product Container';
}
.small-product-container.xk-placeholder{
    min-height: 150px;
}
.cq-wcm-edit .small_product_module_wrapper > div[class*='cq-placeholder'] {
    display: none;
    border: none !important;
    width: 0px;
}

/**
Small Product Card
**/

.small-product-card.xk-placeholder:before {
    content: 'Empty Small Product Card';
    font-size: 15px;
}
.small-product-card.xk-placeholder {
    content: 'Empty Small Product Card';
    border : none
}
.product-module--table div[class^='cq-placeholder-content-parsys_'] {
    width: 0px !important;
}

/**
Contextual Links Container
**/

.contextual-links-container.xk-placeholder:before {
    content: 'Empty Contextual Links Container';
    font-size: 15px;
}
.contextual-links-container.xk-placeholder {
    min-height: 150px;
    width: 85%;
}

.cq-wcm-edit  div.contextual_links_component div[class*='cq-placeholder-'] {
    display: none !important;
}
/**
Related Content Container
**/

.related-content.xk-placeholder:before {
    content: 'Empty Related Content Container';
    font-size: 15px;
}
.related-content.xk-placeholder {
    min-height: 150px;
    width: 85%;
    height: 330px;
}

.cq-wcm-edit  div.related-links[class*='cq-placeholder-'] {
    display: none !important;
}

/**
Life Stages Component fixes
*/
div.carousel-item div[class*='cq-placeholder-lifeStages'] {
    display: none !important;
}
.carousel--tabs__item.xk-placeholder:before{
    content: "Empty Life Card,  right click to edit the card";
    font-size: 15px;
}

.carousel--tabs__item.xk-placeholder {
    margin-bottom:10px;
    min-height: 200px;
    width: 85%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left:15px !important;
    padding-right: 15px !important;
    display:block;
}

.carousel--tabs__item.xk-placeholder > .container-fluid{
    display:none;
}

/**
Contextual Link Card
**/

.contextual-link.xk-placeholder:before {
    content: 'Empty Contextual \A Link';
    font-size: 15px;
     white-space: pre;
}

.contextual-links-row  div[class*='cq-placeholder'] {

  display: none;
    border: none !important;
    width: 0px;
}

/**
Home Subnavigation
**/
.cq-wcm-edit .home-subnav .homepage-nav__items div[class*='cq-placeholder'] {
    display: none;
    border: none !important;
    width: 0px;
}


/**
Related Content Links
**/
.related-content-links.xk-placeholder {
    margin-bottom:10px;
    min-height: 150px;
    width: 25%;
    height: 215px;
}
.related-content-links.xk-placeholder > .row {
    display: none;
}

.related-content-links.xk-placeholder:before {
    content : "Empty Related Content Links";
    font-size: 15px;
}

/**
Related Content Image
**/
.related-content-image.xk-placeholder {
    margin-bottom:10px;
    min-height: 150px;
    width: 25%;
    height: 215px;
}
.related-content-image.xk-placeholder > .row {
    display: none !important;
}

.related-content-iamge.xk-placeholder:before {
    content : "Empty Related Content Image";
    font-size: 15px;
}

/**
* Product Card Tile
**/
.product-card-tile.xk-placeholder > .row {
     display: none;
 }
.product-card-tile.xk-placeholder:before {
 content: "Empty Product Card";
}

/**
* Image Product Card Tile
**/
.image-product-card.xk-placeholder > .row {
     display: none;
 }
.image-product-card.xk-placeholder:before {
 content: "Empty Image Product Card";
}

/**
* Find an X
**/
.find-an-x.xk-placeholder:before {
 content: "Empty Find an X";
}

/**
* Search Results
**/
.search-results.xk-placeholder:before {
 content: "Empty Search Results";
}
.search-results.xk-placeholder .container {
	display:none;
                        }


/**
Image component
*/
.newsroom-image.xk-placeholder:before {
    content: 'Empty Newsroom Image';
    font-size: 16px;
    margin: 0 auto;
}

/**
Newsroom Article Text component
*/
.xk-placeholder:before {
    content: 'Empty Text';
    font-size: 16px;
    margin: 0 auto;
}

/*
Newsroom Contact  component
*/
.newsroom-contact.xk-placeholder:before {
    content: 'Empty Contact';
    font-size: 16px;
    margin: 0 auto;
}
.newsroom-contact.xk-placeholder{
    min-height: 100px;
}

.newsroom-contact.xk-placeholder > div.contact{
    display: none;
}

/**
Newsroom File Download component
*/
.newsroom-file-download.xk-placeholder:before {
    content: 'Empty File Download';
    font-size: 16px;
    margin: 0 auto;
}

/**
Newsroom About MetLife component
*/
.newsroom-about-metlife.xk-placeholder:before {
    content: 'Empty Text';
    font-size: 16px;
    margin: 0 auto;
}


/*
Newsroom Article title and subheader
*/
.newsroom-article-title-subheader.xk-placeholder:before {
    content: 'Empty Newsroom Article Title and Subheader';
    font-size: 16px;
    margin: 0 auto;
}
.newsroom-article-title-subheader.xk-placeholder{
    min-height: 100px;
    margin-bottom: 10px;
}

/*
Newsroom Article title and subheader
*/
.newsroom-article-location.xk-placeholder:before {
    content: 'Empty Newsroom Article Location';
    font-size: 16px;
    margin: 0 auto;
}
.newsroom-article-location.xk-placeholder{
    min-height: 100px;
     margin-bottom: 10px;
}


/*
Sitemap
*/
.sitemap-category.xk-placeholder:before {
    content: 'Empty Sitemap Category';
}
.sitemap-category.xk-placeholder{
    min-height: 100px;
    margin-bottom: 10px;
}

/*
Sitemap row
*/
.sitemap-category-row.xk-placeholder:before {
    content: 'Empty Sitemap Row';
}
.sitemap-category-row.xk-placeholder{
    min-height: 100px;
    margin-bottom: 10px;
}

.cq-wcm-edit .sitemap-category-row.sitemap-link--Row{
         min-height: 100px !important;
         margin-bottom: 10px;
}
/*
Sitemap column
*/
.sitemap-category-column.xk-placeholder:before {
    content: 'Empty Sitemap Column';
}
.sitemap-category-column.xk-placeholder{
    min-height: 100px !important;
    margin-bottom: 10px;
}
/*Live Chat Button*/
.live-chat-button.xk-placeholder {
    padding: 10px;
    min-height: 55px;
}
.live-chat-button.xk-placeholder:before {
	content: 'Live Chat Button';
}

/*Contact Us Result Content*/
.contact-us-results-content.xk-placeholder {
    padding: 10px;
    min-height: 55px;
}
.contact-us-results-content.xk-placeholder:before {
	content: 'Contacts List';
}

/*Contact Us Result Container*/
.contactus-results-container.xk-placeholder {
    padding: 10px;
    min-height: 55px;
}
.contactus-results-container.xk-placeholder > div {
    display : none;
}
.contactus-results-container.xk-placeholder:before {
	content: 'Contacts Results';
}


/*Form Library Download Item*/
.form-library-download-item.xk-placeholder {
    padding: 10px;
    min-height: 55px;
}
.form-library-download-item.xk-placeholder:before {
	content: 'Form Library Download';
}

.find-a-x-box.xk-placeholder:before {
	content: 'Find a x box empty component';
}

.cq-wcm-design .contact-container--global, .cq-wcm-edit .contact-container--global{
    z-index: 8501 !important;
}

#CQ .cq-element-home_47contact-side-bar_47form {
    z-index: 8501 !important;
}

/*Subcategory tile container*/
.subcategory-tile.base.abstract-tile.tile-0 {
    float: left;
}

/**
Contextual Links Home component
*/
.contextual-links-cont-home.xk-placeholder:before {
    content: 'Empty Contextual Links Home';
    font-size: 16px;
    margin: 0 auto;
}
.contextual-links-cont-home.xk-placeholder{
    height: 223px;
    width: 1300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contextual-links-cont-home.xk-placeholder > div {
    display : none;
}

/*
    Contact Advisory Component
*/
.contact-advisory.xk-placeholder:before {
    content: 'Empty Contact Advisory';
    font-size: 16px;
    padding-left: 460px;
}
.contact-advisory.xk-placeholder{
    height: 374px;
    width: 1142px;
    margin-left: 257px;
}

.contact-advisory.xk-placeholder > div{
    display: none;
}

/*
    Find a X Link Component
*/
.find-a-x-link.xk-placeholder:before {
    content: 'Empty Find a X Link Component';
    font-size: 16px;
    padding-left: 65px;
}
.find-a-x-link.xk-placeholder{
    height: 100px;
    width: 400px;
    margin-left: 600px;
}

.find-a-x-link.xk-placeholder > div{
    display: none;
}

/*
    Skinny Banner Component
*/
.skinny-banner.xk-placeholder:before {
    content: 'Empty Skinny Banner Component';
    font-size: 16px;
    padding-left: 65px;
}
.skinny-banner.xk-placeholder{
    height: 100px;
    width: 1000px;
    margin-left: 200px;
}

.skinny-banner.xk-placeholder > div{
    display: none;
}

/*
    Large Banner Component
*/
.large-banner.xk-placeholder:before {
    content: 'Empty Large    Banner Component';
    font-size: 16px;
    padding-left: 65px;
}
.large-banner.xk-placeholder{
    height: 100px;
    width: 1000px;
    margin-left: 200px;
}

.large-banner.xk-placeholder > div{
    display: none;
}

/*
    Large Banner Component
*/
.simple-promo-module.xk-placeholder:before {
    content: 'Empty Promo Module';
    font-size: 16px;
    padding-left: 65px;
}

.simple-promo-module.xk-placeholder > div{
    display: none;
}

/*
    Unsubscribe Customer Component
*/
.unsubscribe-customer.xk-placeholder:before {
    content: 'Empty Unsubscribe Component';
    font-size: 16px;
    padding-left: 65px;
}

.unsubscribe-customer.xk-placeholder > div {
    display: none;
}

/**
Contextual Links Home US component
*/
.contextual-links-home-us.xk-placeholder:before {
    content: 'Empty Contextual Links Home US';
    font-size: 16px;
    margin: 0 auto;
}
.contextual-links-home-us.xk-placeholder{
    height: 223px;
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.contextual-links-home-us.xk-placeholder > div {
    display : none;
}