{%!
* ------------------------------------------------------------------------------ *
* Scroll for More Component
* ------------------------------------------------------------------------------ *
%}

{%#if global.activeScrollForMore %}
    <div class="container" data-comp-spacing="scroll-for-more">
        <div class="scroll-form-more-container hidden-xs hidden-sm">
            <div class="scroll-more ">
                <a href="#scroll_more">
                    <p>{%global.scrollForMoreText%}</p>
                    <img src="/static/images/Scroll_for_more_new.png"
                         alt="scroll more img alt">
                </a>
            </div>
        </div>
    </div>
{%/if%}
