{%! *
------------------------------------------------------------------------------
* * Microsite - Product Comparison Chart Component *
------------------------------------------------------------------------------
* %}

<div class="microsite-column-category">
	<p>{%content.title%}</p>
</div>
{%#unless content.newTable%}
	<div class="column-wrapper"></div>
{%/unless%} 
{%#each content.newTable%}
	<div class="column-wrapper">
	{%#each this%} 
		{%#if @last%}
			<div class="life_chart_learn">
				{%#with this %}
					{%#if buttonTitle %}
						<div>
							<a class="btn-brand-2nd"
								href="{%#with this.buttonLink %}{%this%}{%/with%}"
								target="{%#with this.targetButton %}{%this%}{%/with%}"
								id="{%#with this.buttonId %}{%this%}{%/with%}">{%#with this.buttonTitle %}{%this%}{%/with%}</a>
						</div>
					{%/if%} 
				{%/with%}
				{%#with this %}
					{%#if linkTitle %} 
						<a class="textlink" 
							{%#with this %}
				                {%#if enableLink %}
				                	href="{%#with this.linkOption %}{%this%}{%/with%}"
								{%else%}
				                	href="{%#with this.pdfLinkSpooled %}{%this%}{%/with%}"
								{%/if%}
				        	{%/with%}
				            target="{%#with this.targetLink %}{%this%}{%/with%}"
							id="{%#with this.linkId %}{%this%}{%/with%}">{%#with this.linkTitle %}{%this%}{%/with%}</a>
					{%/if%}
				{%/with%}
			</div>
		{%else%}
			<div class="column-cell">{%this%}</div>
		{%/if%} 
	{%/each%}
	</div>
{%/each%}
