{%!
* ------------------------------------------------------------------------------ *
* Press Article Media Contact Row Component
* ------------------------------------------------------------------------------ *
%}

{%#with content.cnt1ResourcePropertiescontact%}
{%> contact %}
{%/with%}

{%#with content.cnt2ResourcePropertiescontact%}
{%> contact %}
{%/with%}

{%#with content.cnt3ResourcePropertiescontact%}
{%> contact %}
{%/with%}

{%#with content.cnt4ResourcePropertiescontact%}
{%> contact %}
{%/with%}