{%!
* ------------------------------------------------------------------------------ *
* Bread Crumb Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st">
    <div class="row breadcrumb">
    {%# each list.pages%}
        {%#if @last%}
            <span class="breadcrumb__crumb">{%navigationTitle%}</span>
        {%else%}
            <span class="breadcrumb__crumb">
                <a href="{%link%}" id="{%elementId%}">{%navigationTitle%}</a>
            </span>
        {%/if%}
    {%/each%}
    </div>
</div>