{%!
* ------------------------------------------------------------------------------ *
* Find a Product Component
* ------------------------------------------------------------------------------ *
%}

<div class="get-quote__container home-quote__container cta_header_quote">
    <p>{%content.title%}</p>
    <div class="select_wrapper cta_header_quote_type_of_insurance form-icon-wrapper">
    	<svg class="icon">
        	<use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
        </svg>
    	<select required="required" class="insurance-type product__selector form-user-ctrl user-select">
        	<option value="" selected disabled>{%#if content.placeholderproduct%}{%content.placeholderproduct%}{%else%}Please Select Insurance Type{%/if%}</option>
            {%#if content.isSimpleDropdown%}
                {%#each content.simpleProducts%}
                    {%#if simpleProduct%}
                        <option value="{%simpleTitleProduct%}" data-product-type="{%simpleTitleProduct%}" data-product-url="{%simpleProduct%}">{%simpleTitleProduct%}</option>
                    {%/if%}
                {%/each%}
            {%else%}
                {%#each content.products%}
                    {%#if product%}
                    	<option value="{%titleproduct%}" data-product-type="{%titleproduct%}" data-product-url="{%product%}">{%titleproduct%}</option>
                    {%/if%}
                {%/each%}
            {%/if%}
        </select>
    </div>
    {%#unless content.isSimpleDropdown%}
        {%#each content.products%}
            {%#if subproduct%}
                <div class="select_wrapper form-icon-wrapper cta_header_quote_type_of_insurance--sub {%#unless @first%}hidden{%/unless%}" data-product-sub="{%titleproduct%}">
                    <svg class="icon">
                        <use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                    </svg>
                    <select required="required" class="insurance-type product__selector--sub form-user-ctrl user-select" disabled>
                        <option value="" selected disabled>{%#if content.placeholdersubproduct%}{%content.placeholdersubproduct%}{%else%}I want protection for{%/if%}</option>
                        {%#each this.subproduct%}
                            {%#if subproduct%}
                                <option value="{%titlesubproduct%}" data-product-url="{%subproduct%}">{%titlesubproduct%}</option>
                            {%/if%}
                        {%/each%}
                    </select>
                </div>
            {%/if%}
        {%/each%}
    {%/unless%}
    <a href="#" id="{%content.buttonLabelId%}" class="btn btn-brand-2nd btn_global js-productSelector">{%content.buttonLabel%}</a>
 </div>