{%!
* ------------------------------------------------------------------------------ *
* Disclaimer Component for Press Article Template
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="disclaimer-article">
	<div class="row wrapper">
	    <div class="wrapper--news-article news-article__resources">
	        {%#if content.disclaimerComponentText%}
	            {%{content.disclaimerComponentText}%}
	        {%/if%}
	    </div>
	</div>
</div>