{%!
* ------------------------------------------------------------------------------ *
* Skinny Promo Tile Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st promo-tile-wrapper" data-comp-spacing="promo-tile">
    <div class="row wrapper in_view">
        <div class="product-row__tile--img-tile skinny-promo-tile">
        	<div class="product-row__tile__img-tile__img {%#if content.EqualTo_0%}product-row__tile__img-tile__img__left{%/if%}"
                 style="background-image: url({%content.imagePath%});">
            </div>
            <div class="product-row__tile--img-tile__text {%#if content.EqualTo_0%}pull-right{%/if%}">
                <div class="product-row__tile--img-tile__text--left">
                    <div class="product-row__tile__promo white">{%content.headline%}
                    </div>
                    <p class="white">{%content.description%}</p>
                </div>
                <div class="product-row__tile--img-tile__text--right">
                    <a id="{%content.buttonLabelId%}" href="{%content.link%}" class="btn-brand-2nd table">{%content.buttonText%}</a>
                </div>
            </div>
        </div>
    </div>
</div>