{%!
* ------------------------------------------------------------------------------ *
* Contact Form Card (Argentina) Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="contact-form-card-argentina">
	<div class="row wrapper form-card in_view">
		<div class="form-card__img">
			<div class="form-card__img__inner" style="background-image: url('{%content.imagePath%}');"></div>
			<div class="form-card__img__text white">
				<h3>{%content.cardTitle%}</h3>
				<p>{%content.cardDescription%}</p>
			</div>
		</div>
		{%#if content.staticForm%}
		{%#include "{% content.staticForm %}" as="metlifeGlobal/components/section/baseContactFormCard"%}{%/include%}
		{%/if%}
	</div>
</div>