{%!
* ------------------------------------------------------------------------------ *
* Contact Us Section Header Component
* ------------------------------------------------------------------------------ *
%}

<span class="semi-bold">{%content.contactPathResourcePropertiescontact-us.nameContact%}</span>
<span class="normal">{%content.contactPathResourcePropertiescontact-us.address1%}</span>
<span class="normal">{%content.contactPathResourcePropertiescontact-us.address2%}</span>
<span class="normal">{%content.contactPathResourcePropertiescontact-us.address3%}</span>
<span class="normal">{%content.contactPathResourcePropertiescontact-us.telephoneLabel%}
    <a href="tel:{%content.contactPathResourcePropertiescontact-us.telephoneNumber%}">
        {%content.contactPathResourcePropertiescontact-us.telephoneNumber%}
    </a>
</span>
