{%!
* ------------------------------------------------------------------------------ *
* Contact Us Container for UK Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="contactus-uk-container">
	<div class="row wrapper">
    	<div class="contact-us contact-us__dropdown text-center">
            <h2 class="normal contact-us__header">{%content.title%}</h2>
            {%#if content.dropdownDefaultValue%}
                <div class="form-icon-wrapper">
                    <svg class="icon">
                        <use xlink:href="/static/images/icons-metlife.svg#icon-select-arrows"></use>
                    </svg>
                    <select class="contact-us__select">
                        <option value="" disabled="" selected="">{%content.dropdownDefaultValue%}</option>
                        {%#each content.optionsDropdown%}
                            <option value="contact-results{% @index %}">{%this%}</option>
                        {%/each%}
                    </select>
                </div>
            {%/if%}
        </div>
    </div>
    <div class="row wrapper">
    {%#each content.optionsDropdown%}
        <div class="hidden contact-results{% @index %} contact-us__results__wrapper">
            {%#include this as="metlifeGlobal/components/section/contact-us-uk-contact-info"%}{%/include%}
        </div>
    {%/each%}
    </div>
</div>