{%!
* ------------------------------------------------------------------------------ *
* Campaign Header Component
* ------------------------------------------------------------------------------ *
%}

<div class="row campaign-header text-center bg-brand-1st col-xs-12">
    <div class="campaign-header__section col-md-push-7 col-xs-4 col-sm-4">
    			{%#if content.enableButton1%}
                	<p class="no-margin brand-6th hidden-xs">
            			{%content.title-call-us%}
        			</p>
                    <p class="text-bold white no-margin">
                        {%content.phoneLabel%}
                    </p>
            
                    <p class="text-bold white no-margin">
                        {%{content.phone-value}%}
                    </p>
                {%else%}
					{%#if page.isEditMode%}
					<div class="call-us xk-placeholder"></div>
					{%/if%}
                {%/if%}
    </div>
    {%#if content.imagePath%}
    <div class="campaign-header__section col-xs-4 col-sm-4">
			<a class="campaign-header--logo" href="{%content.logoLink%}">
    			<img src="{%content.imagePath%}" alt="{%content.logoAltText%}" class="global-header__logo">
        	</a>
    </div>
	{%else%}
			{%#if page.isEditMode%}
               	<div class="header-icon xk-placeholder"></div>
            {%/if%}
    {%/if%}
    <div class="campaign-header__section  col-xs-4 col-sm-4">
    	{%#if content.enableButton2%}
        <div class="campaign-header-right">
            <a href="#" class="campaign-header-ctc bg-brand-3rd white text-bold">
                {%content.text-call-me%}
                <svg class="icon icon-phone-arrow">
                    <use xlink:href="/static/images/icons-metlife.svg#icon-phone-arrow"></use>
                </svg>
            </a>
        </div>
        {%else%}
			{%#if page.isEditMode%}
               	<div class="call-me xk-placeholder"></div>
            {%/if%}
        {%/if%}
    </div>
    <div class="campaign-header__popup bg-brand-3rd">
        <div class="campaign-header-ctc">
            <h5 class="white text-center">{%content.title-modal-call-me%}</h5>
            <div class="campaign-header__popup__contact">
            	<input type="text" placeholder="{%content.placeholder-phone-modal%}" name="phNumber" data-valid-type="phone">
                <a class="btn-brand-2nd" href="{%content.link-button-modal-call-me%}">{%content.text-button-modal-call-me%}</a>
            </div>
                {%{content.disclaimer}%}
        </div>
    </div>
    <div id="{%page.livePersonPageId%}"> </div>
</div>
