{%!
* ------------------------------------------------------------------------------ *
* Large Banner Component
* ------------------------------------------------------------------------------ *
%}

<div class="container" data-comp-spacing="large-banner">
    <div class="row wrapper in_view">
        <div class="product-row__tile--img-tile box-shadow large-promo-tile">
            {%#if content.EqualTo_0%}
            	<div class="product-row__tile__img-tile__img" style="background-image: url({%content.imagePath%});"></div>
            {%/if%}
                <div class="product-row__tile--img-tile__text">
                    <div class="product-row__tile__promo white">{%content.headline%}
                    </div>
                    <p class="white">{%content.description%}</p>
                    <a id="{%content.buttonLabelId%}" href="{%content.link%}" class="btn-brand-2nd table">{%content.buttonText%}</a>
                </div>
            {%#if content.EqualTo_1%}
            	<div class="product-row__tile__img-tile__img" style="background-image: url({%content.imagePath%});"></div>
            {%/if%}
        </div>
    </div>
</div>