{%!
* $END$
* -----------------------------------------------------------------------------
* CHANGE HISTORY
* -----------------------------------------------------------------------------
* Version | Date        | Developer          | Changes
* 1.0     | 6/3/2016    | Marco Cali         | Initial Creation
* -----------------------------------------------------------------------------
%}

<div class="row wrapper metlife-brand-9">
    {%#if content.disclaimerText%}
        {%{content.disclaimerText}%}
    {%/if%}
</div>