
<!--Vision Overlay Section-->

    <div class="row">
        <div class="container vision_dental_overlay_container">
            <!--Vision Overlay Component-->
            <a href="#" class="vision_dental_overlay_close"><img
                    src="/static/images/icons_header/icon_close_gray.png" alt="Close Image"/>
                <noscript><img src="/static/images/icons_header/icon_close_gray.png" alt="Close Image"/>
                </noscript>
            </a>



            <div class="col-lg-12 vision_dental_overlay_header">
                {%#if design.title %}
                    <h1 class="col-lg-12">{% design.title %} </h1>
                    <p class="col-lg-12">{% design.subtitle %} </p>
                {%else%}
                <img class="cq-text-placeholder cq-block-sm-placeholder" src="/etc/designs/default/0.gif" />
                {%/if%}

            </div>

                <div class="col-lg-12 vision_dental_overlay_body">
                    {%#if design.bodyoverlay %}
                    {%#each design.bodyoverlay %}
                    <div class="overlay_network_description">
                        <h3>{% this.description %}</h3>
                        <ul>
                            {%#each this.bullets %}
                            <li>{% this %}</li>
                            {%/each%}
                        </ul>

                    </div>
                    {%/each%}
                    {%else%}
                    <img class="cq-carousel-placeholder cq-block-lg-placeholder" src="/etc/designs/default/0.gif" />

                    {%/if%}
                </div>


            <!--Vision Overlay Component-->
        </div>
    </div>


<!-- Vision Overlay Section-->
