{%!
* ------------------------------------------------------------------------------ *
* 404 Page Component
* ------------------------------------------------------------------------------ *
%}

<div class="container bg-gray-1st">
    <div class="row wrapper page-title">
        <h1 class="page-title__heading">{%page.title%}</h1>
        <p>{%{content.subtitleText}%} <a href="#" onclick="window.history.go(-1); return false;">{%content.labelPreviousPage%}</a></p>
    </div>
</div>

<div class="container bg-gray-1st page-not-found">
    <div class="row wrapper text-center">
        <div class="">{%content.notFoundText%}</div>
    </div>
</div>