{%!
* 404 Page Component
* ----------------------------------------------------------------------------- *
* CHANGE HISTORY
* -----------------------------------------------------------------------------
* Version | Date       | Developer              | Changes
* 1.0     | 2016/07/14 | Sergio Torres          | Initial Creation
* ----------------------------------------------------------------------------- *
%}

<!--Page Title -->
<div class="container bg-gray-1st">
    <div class="row wrapper page-title">
        <h1 class="page-title__heading">
            {%page.title%}
        </h1>
        {%{content.subtitleText}%} <a href="#" onclick="window.history.go(-1); return false;">{%content.labelPreviousPage%}</a>
    </div>
</div>

<!-- 404 -->
<div class="container bg-gray-1st page-not-found">
    <div class="row wrapper text-center">
        <div class="">{%content.notFoundText%}</div>
    </div>
</div>