    <img class="arrow-down"
         src="/static/images/life_stages/icon_life_stage_arrow.png"
         alt="Life Stages Arrow Image">
    <img class="item_image {%#unless content.imagePath %} cq-image-placeholder {%/unless%}"
         src="{%#if content.imagePath %} {% content.imagePath %}  {%else%} /etc/designs/default/0.gif {%/if%}"
         alt="{% content.titletab %}  Image">
    <p>{% content.titletab %} <span class="insert_newline"></span>{%#if content.lineTwotab %} {% content.lineTwotab %}  {%else%} &nbsp; {%/if%}</p>
