<!-- Footer Begin -------------------------------------->
<!-- Link Farm Widget Begin -->
{%#include "farm-links" as="MetlifeApp/components/section/footer-farm-links"%}{%/include%}
<!-- Link Farm Widget End  -->
<!-- Country/Language/Social Widget Begin -->
<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <div class="footer_country_language_social">
                <!--Begin Country Widget -->

                {%#include "country-selector" as="MetlifeApp/components/section/country-selector"%}{%/include%}


                <!--Begin Language Widget -->

 				{%#include "language-selector" as="MetlifeApp/components/section/language-selector"%}{%/include%}

                <div class="clearfix visible-xs-block"></div>

                <div class="col-xs-12 col-sm-4 footer_social">
                        <span class="footer_logo_wrapper hidden-sm hidden-md hidden-lg">
                        <img class="lazy footer_metlife_logo col-xs-6"
                             src="#" data-src="{%#if global.footerImagePath %} {% global.footerImagePath %} {%else%}/etc/designs/default/0.gif{%/if%} "
                             alt="Metlife Logo">
                        <noscript><img class="footer_metlife_logo col-xs-6"
                                       src="/static/images/footer/logo_blue.png" alt="Metlife Logo"></noscript>
                    </span>

                    <div class="social_icons_wrapper">
                        {%#each global.footersociallinks %}
                            <a href="{% this.path %} "  target="{% this.target %}">
                                <img src="{% this.socialmediaimage %} " alt="{% this.altText %} ">
                            </a>
                         {%/each%}
                        <div class="clearfix"></div>
                    </div>
                    <div class="hidden-xs social_label">{% global.followuslabel %} </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- Country/Language/Social Widget End -->
{%> privacylegal %}
<!-- Footer End ---------------------------------------->

{%>footerscripts %}
