
<script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false&libraries=places"></script>

{% clientLibrary "metlife.all" type="js" %}
{%>extrafooterscripts%}
<script>
    function resizeHeroCarousel() {
        if ($(window).width() > 1900)
            $('#myCarouselBanner .carousel-inner .item img').width($(window).width());
    }
    $.lazyLoadXT.autoLoadTime = 5000;
    resizeHeroCarousel();
    $(window).resize(function () {
        resizeHeroCarousel();
        $(window).lazyLoadXT({
            checkDuplicates: false
        });
    });
</script>
{%#if global.onlineOpinionIsActive%}
    {% clientLibrary "metlife.oo" type="js" %}
{%/if%}